@media screen and (min-width: 1080px) {
  #blogBlock {
    padding-top: 10vh;
    .blogBlockText { font-size: 9em; }
  }
}

@media screen and (max-width: 1080px) {
  // Blog
  #archives { column-count: 2; }
  .article { width: 80vw; }
}

@media screen and (min-width: 900px) {
  .heroVariable { margin-left: 30vw; }
  #hero .carousel-inner .item img { height: 100vh; }
  .blogBlockText { font-size: 7em; }
  .desktopContact { display: block; }
  .mobileContact { display: none; }
}

@media screen and (max-width: 900px) {
  .section2, .section3, .section4 {
    background-image: url('/assets/images/textures/connectwork.png');
    background-repeat: repeat;
    padding: 30px 30px 30px 60px;
  }

  // Section 1

  // Section 2
  .workCopy {
    margin: 0 0 0 15px;
    width: 100%;
    padding: 0;
    font-size: 16pt;
  }
  #gallery { padding-top: 30px !important; }
  #galleryWrapper { width: 300%; }
  .galleryCard { width: 38vw !important; }
  .galleryCard h4 { font-size: 13pt; }

  // Section 3
  .brandCopy {
    width: 80vw;
    padding: 30px 0 0 15px;
    font-size: 16pt;
    bottom: auto;
  }

  .brandsGrid {
    right: 30px;
    width: 80vw;
    height: 65vh;
    bottom: 15px;
    top: auto;
    td { height:  12vh; width: auto; }
  }

  // Section 4
  .contactRight {
    width: 95vw;
    height:40vh;
    border-left: none;
    padding-left: 0;
  }
  #contactLogo {
    height: 30vh;
    width: 100vw;
    margin: 0 auto;
  }
  .contactRight p {
    width: 90vw;
    margin: 30px;
    text-align: center;
  }
  #contact {
    margin-top: 5vh;
    width: 80vw;
    .contactForm {
      width: 80vw;
      margin-left: 15px;
    }
  }
  .desktopContact { display: none; }
  .mobileContact { display: block; }
}

@media screen and (max-width:760px) {
  #archives { column-count: 1; }
  .archive-item { padding-bottom: 0; }
}

@media screen and (max-width: 720px) {
  // Section 1
  .heroWrapper {
    right: auto;
    left: 70px;
  }
  .heroGreeting, .heroSubtext, .heroVariable {
    float: none;
    position:absolute;
    margin: 0;

  }
  .heroGreeting { bottom: 25vh; }
  .heroSubtext  {
    left: auto;
    margin-bottom: 0;
    bottom: calc(25vh - 80px);
  }
  .heroVariable {
    left: 100px;
    bottom: calc(25vh - 68px);
  }

  // Blog
  .tagsColumn { width: 80vw; }
  #recent {
    width: 100%;
    margin-top: 60px;
  }
  .articleWrapper { padding: 80px 5vw; }
  .article {
    padding-top: 5vw;
    width: 100%;
    h2 { font-size: 10vw; }
  }
}


@media screen and (min-width: 720px) {
  .mobBreak { display: none; }
}


@media screen and (max-width: 600px) {
  .dskBreak { display: none; }
}
