@media screen and (min-width: 1080px) {
  #blogBlock {
    padding-top: 10vh;
    .blogBlockText { font-size: 9em; }
  }
  .section2, .section3, .section4, .section5, .section6 {
    padding-left: 150px;
  }
}

@media screen and (max-width: 1080px) {
  // Blog
  #archives { column-count: 2; }
  .article { width: 80vw; }
}

@media screen and (min-width: 900px) {
  .heroVariable { margin-left: 30vw; }
  #hero .carousel-inner .item img { height: 100vh; }
  .blogBlockText { font-size: 7em; }
  .desktopContact { display: block; }
  .mobileContact { display: none; }
}

@media screen and (max-width: 900px) {
  .section2, .section3, .section4 {
    background-image: url('/assets/images/textures/pixel_weave_inv.png');
    background-repeat: repeat;
    padding: 30px 30px 30px 60px;
  }

  // Section 2
  figure.galleryCard:nth-child(even) { left: -260px; }

  // Section 3
  .workCopy {
    margin: 0 0 0 15px;
    width: 100%;
    padding: 0;
    font-size: 16pt;
  }
  .galleryCard h4 { font-size: 13pt; }

  // Section 4
  .brandCopy {
    width: 80vw;
    padding: 30px 0 0 15px;
    font-size: 16pt;
    bottom: auto;
  }

  .brandsGrid {
    right: 10vw;
    width: 75vw;
    height: 65vh;
    bottom: 15px;
    top: auto;
    td { height:  12vh; width: auto; }
  }

  // Section 6
  .contactRight {
    width: 85vw;
    height:40vh;
    border-left: none;
    padding-left: 0;
  }
  #contactLogo {
    height: 30vh;
    width: 100vw;
    margin: 0 auto;
  }
  .contactRight p {
    width: 80vw;
    margin: 30px;
    text-align: center;
  }
  #contact {
    margin-top: 5vh;
    width: 80vw;
    .contactForm {
      width: 80vw;
      margin-left: 15px;
    }
  }
  .desktopContact { display: none; }
  .mobileContact { display: block; }

  // About Section
  .about {
    width: 100vw;
    margin: 5vh 0;
    border-right: none;

    p {
      width: 70vw;
      margin: 15px 15vw;
    }
  }
  .activeAbout { width: 100vw !important; }
  .about img {
    width: 60vw;
    object-fit: contain;
    margin: 0 auto;
    display: block;
  }
  .about .hello {
    margin: 0 auto;
    display: block;
    text-align: center;
    font-size: 3.5em;
  }
  .aboutClose {
    top: 15px;
    left: 90vw;
    font-size: 3em;
  }
  .activeAboutDots { left: 100vw !important; }
  .activeAboutTooltips { left: 100vw !important; }
}

@media screen and (max-width:760px) {
  #archives { column-count: 1; }
  .archive-item { padding-bottom: 0; }
}

@media screen and (max-width: 720px) {
  .dskBreak { display: none; }

  // Section 1
  .heroWrapper {
    right: auto;
    left: 70px;
  }
  .heroGreeting, .heroSubtext, .heroVariable {
    float: none;
    position:absolute;
    margin: 0;

  }
  .heroGreeting { bottom: 25vh; }
  .heroSubtext {
    left: auto;
    bottom: calc(25vh - 140px);
    max-width: 70vw;
  }
  .heroSpacer { padding: 0 32vw; }
  .heroVariable {
    left: 75px;
    bottom: calc(25vh - 120px);
    font-size: 2.5em;
  }

  .testimony q, .testimony .author { font-size: 1em !important; }

  // Blog
  .tagsColumn { width: 80vw; }
  #recent {
    width: 100%;
    margin-top: 60px;
  }
  .articleWrapper { padding: 80px 5vw; }
  .article {
    padding: 5vw 30px 0 30px;
    width: 100%;
    h2 { font-size: 10vw; }
  }

  // Nav (non-homepage)
  #nav p { font-size: 18px; }
  #wordmark { font-size: 28px; }

  // Toolkit
  .toolFilter {
    left: unset;
    overflow-y: hidden;
  }
  .resourceBox {
    margin: 30px 0 30px -5vw;
    width: 90vw;
  }
}


@media screen and (min-width: 720px) {
  .mobBreak { display: none; }
}

@media screen and (max-width: 600px) {
  .serviceTable .serviceCard {
    padding: 5%;
    width: 90%;
    &:nth-child(even) { margin: 30px 0 !important; }
  }
  .testimony {
    padding: 30px;
    q { font-size: 1em; }
    .author { font-size: 1em; }
  }
}
