@media screen and (min-width: 1080px) {
  #blogBlock {
    padding-top: 10vh;
    .blogBlockText { font-size: 9em; }
  }
}

@media screen and (max-width: 1080px) {
  #archives { column-count: 2; }
}

@media screen and (min-width: 700px) {
  .heroVariable { margin-left: 30vw; }
  #hero .carousel-inner .item img { height: 100vh; }
  .blogBlockText { font-size: 7em; }
}

@media screen and (max-width: 700px) {
  // Section 0
  .heroVariable { margin-left: 32vw; }

  // Section 1
  .portrait { margin: 10vh 35vw 5vh; }
  .bio { margin: 0 10vw; text-align: center; }

  // Section 3
  #blogBlock {
    width: 90vw;
    height: 35vh;
    margin-right: -4.5vw;
    padding-right: 4.5vw;
    padding-top: 10vh;
  }

  .blogBlockText {
    width: 90%;
    max-width: 90%;
    font-size: 4em;
  }

  #section3 h4 {
    width: 90vw;
    margin-top: calc(35vh + 30px);
    text-align: left;
    font-size: 16pt;
  }
  #section3 .tagsContainer { width: 80vw; }
}

@media screen and (min-width: 520px) {
//  #hero .carousel-inner .item img { height: 70vh; }
  .carousel-control { margin-top: 35vh; }
}

@media screen and (max-width: 520px) {
  #nav {
    text-align: center;
    #wordmark { padding: 0; }
    ul { float: none; padding-left: 0; }
  }
  #gallery { padding-top: 150px; }
  .tagsColumn { top: 150px; }
  .blogFrame { padding: 150px 60px 30px 30px; }

//  #hero .carousel-inner .item img { height: 30vh; }
  .carousel-control { margin-top: 60vh; }
  .heroCaption, .heroVariable { display: none; }
  .heroSmall1, .heroSmall2, .heroSmall3 { display: block; }
  #archives {
    column-count: 1;
  }
  #recent {
    padding-left: 60px;
    margin-left: -30px;
  }
}

@media screen and (max-width: 430px) {
  .heroVariable { margin-left: 34vw; }
  #section1 { height: 150vh; }
  #section2 { height: 200vh; }
}
