<!-- Destination Southern Idaho Modal -->
<div class="modal fade" id="dsi" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h3 class="modal-title">Destination Southern Idaho</h3>
      </div>
      <div class="modal-body sanscopy_sm">
        Content!
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Magic Valley Media Brand Modal -->
<div class="modal fade" id="mvm_brand" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h3 class="modal-title">Magic Valley Media Brand</h3>
      </div>
      <div class="modal-body sanscopy_sm">
        Content!
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- TITLE Modal -->
<div class="modal fade" id="TITLE" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h3 class="modal-title">TITLE</h3>
      </div>
      <div class="modal-body sanscopy_sm">
        Content!
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
