<!-- Destination Southern Idaho Modal -->
<div class="modal fade" id="dsi" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body sanscopy_sm">
        <iframe src="https://e.issuu.com/anonymous-embed.html?u=chrisbarfuss&d=dessi_final" width="100%" height="100%" frameborder="0" allowfullscreen="true"></iframe>
      </div>
      <div class="modal-footer">
        <!--<p>Content!</p>-->
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Magic Valley Media Brand Modal -->
<div class="modal fade" id="mvm_brand" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body sanscopy_sm">
        <iframe src="https://e.issuu.com/anonymous-embed.html?u=chrisbarfuss&d=mvm_brand_standards" width="100%" height="100%" frameborder="0" allowfullscreen="true"></iframe>
      </div>
      <div class="modal-footer">
        <!--<p>Content!</p>-->
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Starts With You -->
<div class="modal fade" id="swy" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body sanscopy_sm">
        <div class="modal-scroll">
          <img src="/assets/images/work/swy/SWYad_horz.jpg">
          <img src="/assets/images/work/swy/SWYad_vert.jpg">
          <img src="/assets/images/work/swy/SWYhandout.jpg">
          <img src="/assets/images/work/swy/SWYflyer.jpg">
          <img src="/assets/images/work/swy/SWY_pamphlet3.jpg">
          <img src="/assets/images/work/swy/SWY_pamphlet2.jpg">
        </div>
      </div>
      <div class="modal-footer">
      <p>
        An event-based campaign urging Idaho natives to become organ donors,
        providing aid to critical patients that need assistance. Promotional
        pieces include print ads, a business card-sized handout, a two-sided
        'facts' flyer, and a small pamphlet detailing the story of two donors
        whose families would be advocating at the event.
      </p>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- TITLE -->
<div class="modal fade" id="stadium" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body sanscopy_sm">
        <div id="stadium_hype_container" style="position:relative;overflow:hidden;width:590px; height:400px; margin: 0 auto;">
      		<script defer type="text/javascript" charset="utf-8" src="Stadium_Resources/stadium_hype_generated_script.js?96104"></script>
      	</div>
      </div>
      <div class="modal-footer">
        <p>
          <strong>PLEASE NOTE:</strong> This module was built using CSS2 for
          display on several interactive information kiosks located throughout
          Boise State University's campus. At this time, CSS-driven animation was
          a new concept, and this product was highly experimental. Due to the old
          infrastructure, display and design will be negatively affected and will
          not correctly reflect its on-screen display at time of creation.
        </p>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Elko Visitor's Guide -->
<div class="modal fade" id="evg" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body sanscopy_sm">
        <iframe src="https://e.issuu.com/anonymous-embed.html?u=chrisbarfuss&d=2018_elko_vg" width="100%" height="100%" frameborder="0" allowfullscreen="true"></iframe>
      </div>
      <div class="modal-footer">
      <!--<p>CAPTION</p>-->
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Mini-Cassia Visitor's Guide Modal -->
<div class="modal fade" id="mcvg" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body sanscopy_sm">
        <iframe src="https://e.issuu.com/anonymous-embed.html?u=chrisbarfuss&d=2016_mc_visitor_s_guide" width="100%" height="100%" frameborder="0" allowfullscreen="true"></iframe>
      </div>
      <div class="modal-footer">
        <!--<p>CAPTION</p>-->
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>



<!-- TITLE
<div class="modal fade" id="TITLE" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body sanscopy_sm">
        IFRAME (Remember to change height + width!)
      </div>
      <div class="modal-footer">
      <p>CAPTION</p>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
-->


<!-- FULL SAMPLE MODAL (w/ Header)
<div class="modal fade" id="TITLE" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h3 class="modal-title">TITLE</h3>
      </div>
      <div class="modal-body sanscopy_sm">
        Content!
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
-->
