body {
//  background-color: #888;
}

.contentWrapper {
//  height: auto;
  min-height: 95vh;
  padding-bottom: 30px;
//  overflow: auto;
}

.tagsContainer {
  float: left;
  clear: left;
  text-align: center;
  padding: 0 30px;
}
