$black: rgb(0, 0, 0);
$white: rgb(255, 255, 255);
$transparent: rgba(255, 255, 255, 0);

$transparent-black-light: rgba(0, 0, 0, .15);
$transparent-black-med: rgba(0, 0, 0, .65);
$transparent-black-dark: rgba(0, 0, 0, .85);
$transparent-white: rgba(255, 255, 255, .80);
$transparent-white-med: rgba(255, 255, 255, .45);

$gray10: rgb(225, 225, 225);
$gray20: rgb(200, 200, 200);
// $gray30: rgb(175, 175, 175);
// $gray40: rgb150, 150, 150);
$gray50: rgb(125, 125, 125);
// $gray60: rgb(100, 100, 100);
// $gray70: rgb(75, 75, 75);
$gray80: rgb(50, 50, 50);
$gray90: rgb(25, 25, 25);

$mottled: rgb(113,135,133);
$bluejade: rgb(0, 214, 121);
$roarange: rgb(255, 86, 41);
$sandstone: rgb(224,199,157);

$bluejade-dark: rgb(29, 165, 104);
