a { color: $bluejade; }
a:hover { color: $roarange; }
a:visited { color: $bluejade; }
.nobreak { white-space: nowrap;}

h1 {
  font-family: 'Permanent marker', 'Abel', sans-serif;
  font-size: 10em;
  line-height: 0;
  a {
    text-decoration: none !important;
    color: $bluejade;
  }
  a:hover { color: $roarange !important; }
  a:visited { color: $bluejade; }
}

h2 {
  font-family: 'Permanent Marker', 'Abel', sans-serif;
  font-size: 5em;
}

h3 {
  font-family: 'Permanent Marker', 'Abel', sans-serif;
  font-size: 3em;
}

h4 {
  font-family: 'Abel', sans-serif;
  a { color: $black; }
  a:visited { color: $gray80; }
  a:hover { color: $bluejade; }
  color: $black;
  font-size: 2em;
  line-height: 1.5em;
  font-weight: 400;
  letter-spacing: -1pt;
}

h5 {
  font-family: 'Permanent Marker', 'Abel', sans-serif;
  font-size: 1.6em;
  line-height: 1.5em;
}

.rightLink {
  font-family: 'Permanent Marker', 'Abel', sans-serif;
  font-size: 2em;
  text-align: right;
  text-decoration: none !important;
  color: $bluejade;
  margin-top: 60px;
  float: right;
  margin-right: 5vw;
}
.rightLink:hover { color: $roarange !important; }
.rightLink:visited { color: $bluejade; }

.lipsum { //Delete me when site is live!
  font-family: courier, monospace;
}

.centered { text-align: center !important; }
.noIndent { text-indent: 0 !important; }

.super { vertical-align: super; font-size: 2.5vh; line-height: .8em; }
.sub { vertical-align: sub; font-size: 2.5vh; line-height: .8em; }

.sans {
  font-family: 'Abel', 'Trebuchet', sans-serif;
}

.tags {
  font-family: Abel, sans-serif;
  font-weight: 200;
  font-size: 14px;
  padding: 2px 8px;
  background-color: $gray80;
  color: $white;
  transition: all 0.5s linear;
  display: inline-block;
  border-color: $white;
  border-radius: 2px;
  float: left;
  margin: 5px;
  line-height: 2em;
}
