a { color: $bluejade; }
a:hover { color: $roarange; }
a:visited { color: $bluejade; }

h1 {
  font-family: 'Covered By Your Grace', 'Raleway', sans-serif;
  font-size: 10em;
  line-height: 0;
  a {
    text-decoration: none !important;
    color: $bluejade;
  }
  a:hover { color: $roarange !important; }
  a:visited { color: $bluejade; }
}

h2 {
  font-family: 'Covered By Your Grace', 'Raleway', sans-serif;
  font-size: 5em;
}

h3 {
  font-family: 'Covered By Your Grace', 'Raleway', sans-serif;
  font-size: 3em;
}

h4 {
  font-family: 'Covered By Your Grace', 'Raleway', sans-serif;
  font-size: 2em;
  line-height: 1.5em;
}

.rightLink {
  font-family: 'Covered By Your Grace', 'Raleway', sans-serif;
  font-size: 2em;
  text-align: right;
  text-decoration: none !important;
  color: $bluejade;
  margin-top: 60px;
  float: right;
  margin-right: 5vw;
}
.rightLink:hover { color: $roarange !important; }
.rightLink:visited { color: $bluejade; }

.lipsum { //Delete me when site is live!
  font-family: courier, monospace;
}

.centered {
  text-align: center;
}

.super { vertical-align: super; font-size: 2.5vh; line-height: .8em; }
.sub { vertical-align: sub; font-size: 2.5vh; line-height: .8em; }

.sans {
  font-family: 'Raleway', 'Trebuchet', sans-serif;
}

.tags {
  font-family: Raleway, sans-serif;
  font-weight: 200;
  padding: 2.5px 8px;
  background-color: $gray80;
  color: $white;
  transition: all 0.5s linear;
  display: inline-block;
  border-color: $white;
  border-radius: 2px;
  float: left;
  margin: 5px;
}
