<table class="brandsGrid">
  <tr>
    <td><img class="brandImg" src="/assets/images/textures/topography.png" alt="X"></td>
    <td><img class="brandImg" src="/assets/images/textures/topography.png" alt="X"></td>
    <td><img class="brandImg" src="/assets/images/textures/topography.png" alt="X"></td>
  </tr>

  <tr>
    <td><img class="brandImg" src="/assets/images/textures/topography.png" alt="X"></td>
    <td><img class="brandImg" src="/assets/images/textures/topography.png" alt="X"></td>
<!--    <td><span class="brandJoin">Join The Club</span></td> -->
    <td><img class="brandImg" src="/assets/images/textures/topography.png" alt="X"></td>
  </tr>

  <tr>
    <td><img class="brandImg" src="/assets/images/textures/topography.png" alt="X"></td>
    <td><img class="brandImg" src="/assets/images/textures/topography.png" alt="X"></td>
    <td><img class="brandImg" src="/assets/images/textures/topography.png" alt="X"></td>
  </tr>

  <tr>
    <td><img class="brandImg" src="/assets/images/textures/topography.png" alt="X"></td>
    <td><img class="brandImg" src="/assets/images/textures/topography.png" alt="X"></td>
    <td><img class="brandImg" src="/assets/images/textures/topography.png" alt="X"></td>
  </tr>

  <tr>
    <td><img class="brandImg" src="/assets/images/textures/topography.png" alt="X"></td>
    <td><img class="brandImg" src="/assets/images/textures/topography.png" alt="X"></td>
    <td><img class="brandImg" src="/assets/images/textures/topography.png" alt="X"></td>
  </tr>
</table>
