<table class="brandsGrid">
  <tr>
    <td><img class="brandImg" src="/assets/images/textures/topography.png" alt="Les Schwab Tire Center"></td>
    <td><img class="brandImg" src="/assets/images/textures/topography.png" alt="Hackfort"></td>
    <td><img class="brandImg" src="/assets/images/textures/topography.png" alt="Yes! Idaho"></td>
  </tr>

  <tr>
    <td><img class="brandImg" src="/assets/images/textures/topography.png" alt="Boise State University"></td>
    <td><img class="brandImg" src="/assets/images/textures/topography.png" alt="Dave And Buster's"></td>
<!--    <td><span class="brandJoin">Join The Club</span></td> -->
    <td><img class="brandImg" src="/assets/images/textures/topography.png" alt="X"></td>
  </tr>

  <tr>
    <td><img class="brandImg" src="/assets/images/textures/topography.png" alt="Idaho River Realty"></td>
    <td><img class="brandImg" src="/assets/images/textures/topography.png" alt="Red Lion"></td>
    <td><img class="brandImg" src="/assets/images/textures/topography.png" alt="Columbia Clothing"></td>
  </tr>

  <tr>
    <td><img class="brandImg" src="/assets/images/textures/topography.png" alt="Magic Valley Media"></td>
    <td><img class="brandImg" src="/assets/images/textures/topography.png" alt="Flying M Coffee Shop"></td>
    <td><img class="brandImg" src="/assets/images/textures/topography.png" alt="Berkshire Hathaway"></td>
  </tr>

  <tr>
    <td><img class="brandImg" src="/assets/images/textures/topography.png" alt="Elko Daily Free Press"></td>
    <td><img class="brandImg" src="/assets/images/textures/topography.png" alt="Mini-Cassia Chamber of Commerce"></td>
    <td><img class="brandImg" src="/assets/images/textures/topography.png" alt="Sun Valley Film Festival"></td>
  </tr>
</table>
