<table class="brandsGrid">
  <tr>
    <td><img class="brandImg" src="/assets/images/brands/lesSchwab.png" alt="Les Schwab Tire Center"></td>
    <td><img class="brandImg" src="/assets/images/brands/hackfort.png" alt="Hackfort"></td>
    <td><img class="brandImg" src="/assets/images/brands/yesIdaho.png" alt="Yes! Idaho"></td>
  </tr>

  <tr>
    <td><img class="brandImg" src="/assets/images/brands/boiseState.png" alt="Boise State University"></td>
    <td><img class="brandImg" src="/assets/images/brands/daveAndBusters.png" alt="Dave And Buster's"></td>
   <td><span class="brandJoin">Join The Club</span></td>
<!--     <td><img class="brandImg" src="/assets/images/brands/topography.png" alt="X"></td> -->
  </tr>

  <tr>
    <td><img class="brandImg" src="/assets/images/brands/idahoRiverRealty.png" alt="Idaho River Realty"></td>
    <td><img class="brandImg" src="/assets/images/brands/positiveAction.png" alt="Positive Action"></td>
    <td><img class="brandImg" src="/assets/images/brands/columbia.png" alt="Columbia Clothing"></td>
  </tr>

  <tr>
    <td><img class="brandImg" src="/assets/images/brands/mvm.png" alt="Magic Valley Media"></td>
    <td><img class="brandImg" src="/assets/images/brands/flyingM.png" alt="Flying M Coffee Shop"></td>
    <td><img class="brandImg" src="/assets/images/brands/berkshireHathaway.png" alt="Berkshire Hathaway"></td>
  </tr>

  <tr>
    <td><img class="brandImg" src="/assets/images/brands/edfp.png" alt="Elko Daily Free Press"></td>
    <td><img class="brandImg" src="/assets/images/brands/mcCoC.png" alt="Mini-Cassia Chamber of Commerce"></td>
    <td><img class="brandImg" src="/assets/images/brands/svff.png" alt="Sun Valley Film Festival"></td>
  </tr>
</table>
