<div class="desktopContact">
  <form id="contact" action="https://formspree.io/chrisbarfuss@live.com" method="POST"> <!-- target="_blank" can only be used with a premium formspree account -->
    <input type="hidden" name="_subject" value="New Website Contact Form Submission" />
    <input type="hidden" name="_next" value="http://chrisbarfuss.com/contactConfirm" />
    <input type="hidden" name="_gotcha" />
    <p class="contactForm">
      Hi Chris,<br />
      I have a question about<br />
      <input type="text" name="subject" class="subject" maxlength="102" required></input>. <span class="textCounter"></span><br />
      Give me a call at
      <span class="phone">
        (<input type="text" class="inputs" name="area" placeholder="000" autocomplete="tel-national" maxlength="3" required></input>)
        <input type="text" class="inputs" name="local" placeholder="123" autocomplete="tel-national" maxlength="3" required></input>-
        <input type="text" class="inputs" name="number" placeholder="4567" autocomplete="tel-national" maxlength="4" required></input>,
      </span><br />
      or email me at <input type="email" name="email" placeholder="Dilbert@Path-E-TechMgmt.net" autocomplete="email" required></input>.<br />
      <br />
      Thanks,<br />
      <input type="text" name="name" placeholder="Dilbert (Path-E-Tech Management)" autocomplete="name" required></input><br />
    </p>

    <a><button type="submit" class="submit">Submit</button></a>
    <button type="reset" class="reset">or start over &nbsp;<i class="fas fa-undo"></i></button>
  </form>
</div>

<div class="contactRight">
  <img id="contactLogo" src="/assets/images/logo/Logo_Badge_White.png">
  <br />

  <p>
    Chris Barfuss, <span class="nobreak">Tru North Design Co.</span>
  </p>
  <p>
    (208) 312-5083<span class="dskBreak"> &nbsp; | &nbsp; </span><span class="mobBreak"><br /></span>hello@trunorth.design
  </p>
</div>

<div class="mobileContact">
  <a data-toggle="modal" data-target="#mobileContact">
    <button class="showContact">
      Let's Chat
    </button>
  </a>
</div>
