<div id="footer" align="center">
<!--    <div class="footerLeft"> -->
  <img class="footerLogo" src="/assets/images/logo/barefoot_footer_inv.svg">
  <p><a href="mailto:chrisbarfuss@live.com">chrisbarfuss@live.com</a>&nbsp; | &nbsp;
  <a href="tel:12083125083">208.312.5083</a></p>
<!--    </div> -->

<!--    <div class="footerRight"> -->
  <div class="socialIcons" align="center">
    <a href="https://www.facebook.com/chrisbarfuss22"><!--<img src="/assets/images/ui/social/round_shade/facebook-Icon.png"></a> -->
    <a href="https://www.facebook.com/chrisbarfuss22"><img src="/assets/images/ui/social/long_shadow/Facebook.png"></a>
    <a href="https://twitter.com/_thatdesignguy"><!--<img src="/assets/images/ui/social/round_shade/Twitter-Icon.png"></a> -->
    <a href="https://twitter.com/_thatdesignguy"><img src="/assets/images/ui/social/long_shadow/Twitter.png"></a>
    <a href="https://www.linkedin.com/in/chris-barfuss-14541267/"><!--<img src="/assets/images/ui/social/round_shade/Linkedin.png"></a> -->
    <a href="https://www.linkedin.com/in/chris-barfuss-14541267/"><img src="/assets/images/ui/social/long_shadow/Linkedin.png"></a>
    <span>
      <a href="https://www.instagram.com/_thatdesignguy/"><!--<img src="/assets/images/ui/social/round_shade/Instagram-Icon.png"></a> -->
      <a href="https://www.instagram.com/_thatdesignguy/"><img src="/assets/images/ui/social/long_shadow/Instagram.png"></a>
      <a href="https://github.com/chrisb-design"><!--<img src="/assets/images/ui/social/round_shade/Github-Icon.png"></a> -->
      <a href="https://github.com/chrisb-design"><img src="/assets/images/ui/social/long_shadow/Github.png"></a>
    </span>
  </div>
<!--    </div> -->
</div>

<div id="copyrightBar">
  <p>Copyright &copy; 2018, Chris Barfuss. All Rights Reserved.</p>
</div>
