<!------ Default template for a joke
  <div class="giggleFrame">
    <p class="jokeNumber">#0XX</p>
    <p class="jokeSetup">
      Setup
    </p>

    <div class="spoiler">
      <input type="button" onclick="showPunchline(this);" value="Show Answer" />
      <div class="inner" style="display:none;">
        <p class="jokePunchline">
          Punchline
        </p>
      </div>
    </div>
  </div>
-->
<div class="giggleFrame">
  <p class="jokeNumber">#001</p>
  <p class="jokeSetup">
    Why does a chicken coop have two doors?
  </p>

  <div class="spoiler">
    <input type="button" onclick="showPunchline(this);" value="Show Answer" />
    <div class="inner" style="display:none;">
      <p class="jokePunchline">
        Because otherwise, it would be a chicken sedan!
      </p>
    </div>
  </div>
</div>

<div class="giggleFrame">
  <p class="jokeNumber">#002</p>
  <p class="jokeSetup">
    Have you heard the rumor about the butter?
  </p>

  <div class="spoiler">
    <input type="button" onclick="showPunchline(this);" value="Show Answer" />
    <div class="inner" style="display:none;">
      <p class="jokePunchline">
        Never mind... I shouldn't spread it.
      </p>
    </div>
  </div>
</div>

<div class="giggleFrame">
  <p class="jokeNumber">#003</p>
  <p class="jokeSetup">
    Why did the picture go to jail?
  </p>

  <div class="spoiler">
    <input type="button" onclick="showPunchline(this);" value="Show Answer" />
    <div class="inner" style="display:none;">
      <p class="jokePunchline">
        Because it was framed.
      </p>
    </div>
  </div>
</div>

<div class="giggleFrame">
  <p class="jokeNumber">#004</p>
  <p class="jokeSetup">
    What did the ocean say to the shore?
  </p>

  <div class="spoiler">
    <input type="button" onclick="showPunchline(this);" value="Show Answer" />
    <div class="inner" style="display:none;">
      <p class="jokePunchline">
        Nothing. It just waved.
      </p>
    </div>
  </div>
</div>

<div class="giggleFrame">
  <p class="jokeNumber">#005</p>
  <p class="jokeSetup">
    Why do bananas need sunscreen?
  </p>

  <div class="spoiler">
    <input type="button" onclick="showPunchline(this);" value="Show Answer" />
    <div class="inner" style="display:none;">
      <p class="jokePunchline">
        Because sometimes they peel.
      </p>
    </div>
  </div>
</div>

<div class="giggleFrame">
  <p class="jokeNumber">#006</p>
  <p class="jokeSetup">
    Why did the can crusher quit his job?
  </p>

  <div class="spoiler">
    <input type="button" onclick="showPunchline(this);" value="Show Answer" />
    <div class="inner" style="display:none;">
      <p class="jokePunchline">
        Because it was soda pressing.
      </p>
    </div>
  </div>
</div>

<div class="giggleFrame">
  <p class="jokeNumber">#007</p>
  <p class="jokeSetup">
    What do you call a man that never farts in public?
  </p>

  <div class="spoiler">
    <input type="button" onclick="showPunchline(this);" value="Show Answer" />
    <div class="inner" style="display:none;">
      <p class="jokePunchline">
        A private tutor.
      </p>
    </div>
  </div>
</div>

<div class="giggleFrame">
  <p class="jokeNumber">008</p>
  <p class="jokeSetup">
    What's brown and sticky?
  </p>

  <div class="spoiler">
    <input type="button" onclick="showPunchline(this);" value="Show Answer" />
    <div class="inner" style="display:none;">
      <p class="jokePunchline">
        A stick.
      </p>
    </div>
  </div>
</div>

<div class="giggleFrame">
  <p class="jokeNumber">#009</p>
  <p class="jokeSetup">
    What time did thet man go to the dentist?
  </p>

  <div class="spoiler">
    <input type="button" onclick="showPunchline(this);" value="Show Answer" />
    <div class="inner" style="display:none;">
      <p class="jokePunchline">
        Tooth-hurty.
      </p>
    </div>
  </div>
</div>

<div class="giggleFrame">
  <p class="jokeNumber">#010</p>
  <p class="jokeSetup">
    What do you call a pony with a sore throat?
  </p>

  <div class="spoiler">
    <input type="button" onclick="showPunchline(this);" value="Show Answer" />
    <div class="inner" style="display:none;">
      <p class="jokePunchline">
        A little hoarse.
      </p>
    </div>
  </div>
</div>

<div class="giggleFrame">
  <p class="jokeNumber">#011</p>
  <p class="jokeSetup">
    What happens when frogs park illegally?
  </p>

  <div class="spoiler">
    <input type="button" onclick="showPunchline(this);" value="Show Answer" />
    <div class="inner" style="display:none;">
      <p class="jokePunchline">
        They get toad.
      </p>
    </div>
  </div>
</div>

<div class="giggleFrame">
  <p class="jokeNumber">#012</p>
  <p class="jokeSetup">
    What did the buffalo say when his son went to college?
  </p>

  <div class="spoiler">
    <input type="button" onclick="showPunchline(this);" value="Show Answer" />
    <div class="inner" style="display:none;">
      <p class="jokePunchline">
        Bison.
      </p>
    </div>
  </div>
</div>

<div class="giggleFrame">
  <p class="jokeNumber">#013</p>
  <p class="jokeSetup">
    How do you find Will Smith in the snow?
  </p>

  <div class="spoiler">
    <input type="button" onclick="showPunchline(this);" value="Show Answer" />
    <div class="inner" style="display:none;">
      <p class="jokePunchline">
        You look for fresh prints.
      </p>
    </div>
  </div>
</div>

<div class="giggleFrame">
  <p class="jokeNumber">#014</p>
  <p class="jokeSetup">
    What kind of concert costs 45 cents?
  </p>

  <div class="spoiler">
    <input type="button" onclick="showPunchline(this);" value="Show Answer" />
    <div class="inner" style="display:none;">
      <p class="jokePunchline">
        50 Cent, featuring Nickelback.
      </p>
    </div>
  </div>
</div>

<div class="giggleFrame">
  <p class="jokeNumber">#015</p>
  <p class="jokeSetup">
    What's the difference between snowmen and snowwomen?
  </p>

  <div class="spoiler">
    <input type="button" onclick="showPunchline(this);" value="Show Answer" />
    <div class="inner" style="display:none;">
      <p class="jokePunchline">
        Snowballs.
      </p>
    </div>
  </div>
</div>

<div class="giggleFrame">
  <p class="jokeNumber">#016</p>
  <p class="jokeSetup">
    What does a grape say when it gets stepped on?
  </p>

  <div class="spoiler">
    <input type="button" onclick="showPunchline(this);" value="Show Answer" />
    <div class="inner" style="display:none;">
      <p class="jokePunchline">
        Nothing. It just lets out a little whine.
      </p>
    </div>
  </div>
</div>

<div class="giggleFrame">
  <p class="jokeNumber">#017</p>
  <p class="jokeSetup">
    How do you tie up two martians?
  </p>

  <div class="spoiler">
    <input type="button" onclick="showPunchline(this);" value="Show Answer" />
    <div class="inner" style="display:none;">
      <p class="jokePunchline">
        With an astronaut.
      </p>
    </div>
  </div>
</div>

<div class="giggleFrame">
  <p class="jokeNumber">#018</p>
  <p class="jokeSetup">
    My wife and I watched 3 DVD's back to back...
  </p>

  <div class="spoiler">
    <input type="button" onclick="showPunchline(this);" value="Show Answer" />
    <div class="inner" style="display:none;">
      <p class="jokePunchline">
        ...Good thing I was facing the TV.
      </p>
    </div>
  </div>
</div>

<div class="giggleFrame">
  <p class="jokeNumber">#019</p>
  <p class="jokeSetup">
    Why did the cookie go to the hospital?
  </p>

  <div class="spoiler">
    <input type="button" onclick="showPunchline(this);" value="Show Answer" />
    <div class="inner" style="display:none;">
      <p class="jokePunchline">
        Because it was feeling really crummy.
      </p>
    </div>
  </div>
</div>

<div class="giggleFrame">
  <p class="jokeNumber">#020</p>
  <p class="jokeSetup">
    Why did the scarecrow win an award?
  </p>

  <div class="spoiler">
    <input type="button" onclick="showPunchline(this);" value="Show Answer" />
    <div class="inner" style="display:none;">
      <p class="jokePunchline">
        Because he was outstanding in his field.
      </p>
    </div>
  </div>
</div>

<div class="giggleFrame">
  <p class="jokeNumber">#021</p>
  <p class="jokeSetup">
    Did you know that I used to be a banker?
  </p>

  <div class="spoiler">
    <input type="button" onclick="showPunchline(this);" value="Show Answer" />
    <div class="inner" style="display:none;">
      <p class="jokePunchline">
        ...I quit when I lost interest.
      </p>
    </div>
  </div>
</div>

<div class="giggleFrame">
  <p class="jokeNumber">#021</p>
  <p class="jokeSetup">
    How do crazy people get through the forest?
  </p>

  <div class="spoiler">
    <input type="button" onclick="showPunchline(this);" value="Show Answer" />
    <div class="inner" style="display:none;">
      <p class="jokePunchline">
        They take the psychopath.
      </p>
    </div>
  </div>
</div>

<div class="giggleFrame">
  <p class="jokeNumber">#022</p>
  <p class="jokeSetup">
    What do you get when you cross a cow and a duck?
  </p>

  <div class="spoiler">
    <input type="button" onclick="showPunchline(this);" value="Show Answer" />
    <div class="inner" style="display:none;">
      <p class="jokePunchline">
        Milk and quackers.
      </p>
    </div>
  </div>
</div>

<div class="giggleFrame">
  <p class="jokeNumber">#023</p>
  <p class="jokeSetup">
    What did Jay-Z call his girlfriend before they got married?
  </p>

  <div class="spoiler">
    <input type="button" onclick="showPunchline(this);" value="Show Answer" />
    <div class="inner" style="display:none;">
      <p class="jokePunchline">
        Fiance.
      </p>
    </div>
  </div>
</div>

<div class="giggleFrame">
  <p class="jokeNumber">#024</p>
  <p class="jokeSetup">
    I started a band called 999 Megabytes...
  </p>

  <div class="spoiler">
    <input type="button" onclick="showPunchline(this);" value="Show Answer" />
    <div class="inner" style="display:none;">
      <p class="jokePunchline">
        ...But we haven't gotten any gigs yet.
      </p>
    </div>
  </div>
</div>

<div class="giggleFrame">
  <p class="jokeNumber">#025</p>
  <p class="jokeSetup">
    What do you call a funny mountain?
  </p>

  <div class="spoiler">
    <input type="button" onclick="showPunchline(this);" value="Show Answer" />
    <div class="inner" style="display:none;">
      <p class="jokePunchline">
        Hillarious.
      </p>
    </div>
  </div>
</div>

<div class="giggleFrame">
  <p class="jokeNumber">#026</p>
  <p class="jokeSetup">
    I made a song about a tortilla.
  </p>

  <div class="spoiler">
    <input type="button" onclick="showPunchline(this);" value="Show Answer" />
    <div class="inner" style="display:none;">
      <p class="jokePunchline">
        ...Actually, it's a wrap.
      </p>
    </div>
  </div>
</div>

<div class="giggleFrame">
  <p class="jokeNumber">#027</p>
  <p class="jokeSetup">
    A blind man walked into a bar.
  </p>

  <div class="spoiler">
    <input type="button" onclick="showPunchline(this);" value="Show Answer" />
    <div class="inner" style="display:none;">
      <p class="jokePunchline">
        ...And a chair. And people.
      </p>
    </div>
  </div>
</div>

<div class="giggleFrame">
  <p class="jokeNumber">#028</p>
  <p class="jokeSetup">
    Why can't you hear a pterodactyl go to the bathroom?
  </p>

  <div class="spoiler">
    <input type="button" onclick="showPunchline(this);" value="Show Answer" />
    <div class="inner" style="display:none;">
      <p class="jokePunchline">
        Because its 'P' is silent.
      </p>
    </div>
  </div>
</div>

<div class="giggleFrame">
  <p class="jokeNumber">#029</p>
  <p class="jokeSetup">
    I wrote a speech about Digiorno pizza...
  </p>

  <div class="spoiler">
    <input type="button" onclick="showPunchline(this);" value="Show Answer" />
    <div class="inner" style="display:none;">
      <p class="jokePunchline">
        ...But I'm not going to deliver it.
      </p>
    </div>
  </div>
</div>

<div class="giggleFrame">
  <p class="jokeNumber">#030</p>
  <p class="jokeSetup">
    Did you hear about the hungry clock?
  </p>

  <div class="spoiler">
    <input type="button" onclick="showPunchline(this);" value="Show Answer" />
    <div class="inner" style="display:none;">
      <p class="jokePunchline">
        It went back four seconds.
      </p>
    </div>
  </div>
</div>

<div class="giggleFrame">
  <p class="jokeNumber">#031</p>
  <p class="jokeSetup">
    What condiment do roaches put on poop before they eat it?
  </p>

  <div class="spoiler">
    <input type="button" onclick="showPunchline(this);" value="Show Answer" />
    <div class="inner" style="display:none;">
      <p class="jokePunchline">
        Grey Poupon.
      </p>
    </div>
  </div>
</div>

<div class="giggleFrame">
  <p class="jokeNumber">#032</p>
  <p class="jokeSetup">
    What do you say to someone that has a bladder infection?
  </p>

  <div class="spoiler">
    <input type="button" onclick="showPunchline(this);" value="Show Answer" />
    <div class="inner" style="display:none;">
      <p class="jokePunchline">
        Urine trouble.
      </p>
    </div>
  </div>
</div>

<div class="giggleFrame">
  <p class="jokeNumber">#033</p>
  <p class="jokeSetup">
    What has four wheels and flies?
  </p>

  <div class="spoiler">
    <input type="button" onclick="showPunchline(this);" value="Show Answer" />
    <div class="inner" style="display:none;">
      <p class="jokePunchline">
        A garbage truck.
      </p>
    </div>
  </div>
</div>

<div class="giggleFrame">
  <p class="jokeNumber">#034</p>
  <p class="jokeSetup">
    Did you hear about the guy that got his entire left side chopped off?
  </p>

  <div class="spoiler">
    <input type="button" onclick="showPunchline(this);" value="Show Answer" />
    <div class="inner" style="display:none;">
      <p class="jokePunchline">
        He's all right now.
      </p>
    </div>
  </div>
</div>

<div class="giggleFrame">
  <p class="jokeNumber">#035</p>
  <p class="jokeSetup">
    Did you hear about the midget fortune teller who killed his customer?
  </p>

  <div class="spoiler">
    <input type="button" onclick="showPunchline(this);" value="Show Answer" />
    <div class="inner" style="display:none;">
      <p class="jokePunchline">
        He's a small medium at large.
      </p>
    </div>
  </div>
</div>

<div class="giggleFrame">
  <p class="jokeNumber">#036</p>
  <p class="jokeSetup">
    What did the zero say to the eight?
  </p>

  <div class="spoiler">
    <input type="button" onclick="showPunchline(this);" value="Show Answer" />
    <div class="inner" style="display:none;">
      <p class="jokePunchline">
        "Nice belt."
      </p>
    </div>
  </div>
</div>

<div class="giggleFrame">
  <p class="jokeNumber">#037</p>
  <p class="jokeSetup">
    Did you hear about the italian chef?
  </p>

  <div class="spoiler">
    <input type="button" onclick="showPunchline(this);" value="Show Answer" />
    <div class="inner" style="display:none;">
      <p class="jokePunchline">
        He pasta way.
      </p>
    </div>
  </div>
</div>

<div class="giggleFrame">
  <p class="jokeNumber">#038</p>
  <p class="jokeSetup">
    Why did Simba's dad die?
  </p>

  <div class="spoiler">
    <input type="button" onclick="showPunchline(this);" value="Show Answer" />
    <div class="inner" style="display:none;">
      <p class="jokePunchline">
        Because he couldn't move fasta.
      </p>
    </div>
  </div>
</div>

<div class="giggleFrame">
  <p class="jokeNumber">#039</p>
  <p class="jokeSetup">
    Why do moon rocks taste better than earth rocks?
  </p>

  <div class="spoiler">
    <input type="button" onclick="showPunchline(this);" value="Show Answer" />
    <div class="inner" style="display:none;">
      <p class="jokePunchline">
        Because they're meteor.
      </p>
    </div>
  </div>
</div>

<div class="giggleFrame">
  <p class="jokeNumber">#040</p>
  <p class="jokeSetup">
    What's the opposite of a hot pepper?
  </p>

  <div class="spoiler">
    <input type="button" onclick="showPunchline(this);" value="Show Answer" />
    <div class="inner" style="display:none;">
      <p class="jokePunchline">
        A little chili.
      </p>
    </div>
  </div>
</div>

<div class="giggleFrame">
  <p class="jokeNumber">#041</p>
  <p class="jokeSetup">
    Why didn't the toilet paper cross the road?
  </p>

  <div class="spoiler">
    <input type="button" onclick="showPunchline(this);" value="Show Answer" />
    <div class="inner" style="display:none;">
      <p class="jokePunchline">
        Because it got stuck in a crack.
      </p>
    </div>
  </div>
</div>

<div class="giggleFrame">
  <p class="jokeNumber">#042</p>
  <p class="jokeSetup">
    How many South Americans does it take to screw in a lightbulb?
  </p>

  <div class="spoiler">
    <input type="button" onclick="showPunchline(this);" value="Show Answer" />
    <div class="inner" style="display:none;">
      <p class="jokePunchline">
        A Brazilian.
      </p>
    </div>
  </div>
</div>

<div class="giggleFrame">
  <p class="jokeNumber">#043</p>
  <p class="jokeSetup">
    How does a train eat?
  </p>

  <div class="spoiler">
    <input type="button" onclick="showPunchline(this);" value="Show Answer" />
    <div class="inner" style="display:none;">
      <p class="jokePunchline">
        It goes, "chew chew".
      </p>
    </div>
  </div>
</div>

<div class="giggleFrame">
  <p class="jokeNumber">#044</p>
  <p class="jokeSetup">
    Who does a Pharaoh talk to when he's sad?
  </p>

  <div class="spoiler">
    <input type="button" onclick="showPunchline(this);" value="Show Answer" />
    <div class="inner" style="display:none;">
      <p class="jokePunchline">
        His mummy.
      </p>
    </div>
  </div>
</div>

<div class="giggleFrame">
  <p class="jokeNumber">#045</p>
  <p class="jokeSetup">
    What's the best part of dating a homeless person?
  </p>

  <div class="spoiler">
    <input type="button" onclick="showPunchline(this);" value="Show Answer" />
    <div class="inner" style="display:none;">
      <p class="jokePunchline">
        After a date you can drop them off anywhere.
      </p>
    </div>
  </div>
</div>

<div class="giggleFrame">
  <p class="jokeNumber">#046</p>
  <p class="jokeSetup">
    What did one hat say to the other?
  </p>

  <div class="spoiler">
    <input type="button" onclick="showPunchline(this);" value="Show Answer" />
    <div class="inner" style="display:none;">
      <p class="jokePunchline">
        "You stay here, I'm going to go on ahead."
      </p>
    </div>
  </div>
</div>

<div class="giggleFrame">
  <p class="jokeNumber">#047</p>
  <p class="jokeSetup">
    What do you make with epileptic lettuce?
  </p>

  <div class="spoiler">
    <input type="button" onclick="showPunchline(this);" value="Show Answer" />
    <div class="inner" style="display:none;">
      <p class="jokePunchline">
        A seizure salad.
      </p>
    </div>
  </div>
</div>

<div class="giggleFrame">
  <p class="jokeNumber">#048</p>
  <p class="jokeSetup">
    What kind of dog never barks?
  </p>

  <div class="spoiler">
    <input type="button" onclick="showPunchline(this);" value="Show Answer" />
    <div class="inner" style="display:none;">
      <p class="jokePunchline">
        A hushpuppy.
      </p>
    </div>
  </div>
</div>

<div class="giggleFrame">
  <p class="jokeNumber">#049</p>
  <p class="jokeSetup">
    Why did the Energizer Bunny get arrested?
  </p>

  <div class="spoiler">
    <input type="button" onclick="showPunchline(this);" value="Show Answer" />
    <div class="inner" style="display:none;">
      <p class="jokePunchline">
        It was charged with battery.
      </p>
    </div>
  </div>
</div>

<div class="giggleFrame">
  <p class="jokeNumber">#050</p>
  <p class="jokeSetup">
    What do you call Batman when he plays hookie from church?
  </p>

  <div class="spoiler">
    <input type="button" onclick="showPunchline(this);" value="Show Answer" />
    <div class="inner" style="display:none;">
      <p class="jokePunchline">
        Christian Bale.
      </p>
    </div>
  </div>
</div>

<div class="giggleFrame">
  <p class="jokeNumber">#051</p>
  <p class="jokeSetup">
    What do you call four bullfighters standing in quicksand?
  </p>

  <div class="spoiler">
    <input type="button" onclick="showPunchline(this);" value="Show Answer" />
    <div class="inner" style="display:none;">
      <p class="jokePunchline">
        Cuatro Cinco
      </p>
    </div>
  </div>
</div>

<div class="giggleFrame">
  <p class="jokeNumber">#052</p>
  <p class="jokeSetup">
    What do you call a cow with no legs?
  </p>

  <div class="spoiler">
    <input type="button" onclick="showPunchline(this);" value="Show Answer" />
    <div class="inner" style="display:none;">
      <p class="jokePunchline">
        Ground beef.
      </p>
    </div>
  </div>
</div>

<div class="giggleFrame">
  <p class="jokeNumber">#053</p>
  <p class="jokeSetup">
    What did the milk get for its sweet sixteen?
  </p>

  <div class="spoiler">
    <input type="button" onclick="showPunchline(this);" value="Show Answer" />
    <div class="inner" style="display:none;">
      <p class="jokePunchline">
        Everything. It was really spoiled.
      </p>
    </div>
  </div>
</div>

<div class="giggleFrame">
  <p class="jokeNumber">#054</p>
  <p class="jokeSetup">
    Why does the vampire always get picked last?
  </p>

  <div class="spoiler">
    <input type="button" onclick="showPunchline(this);" value="Show Answer" />
    <div class="inner" style="display:none;">
      <p class="jokePunchline">
        Because he sucked.
      </p>
    </div>
  </div>
</div>

<div class="giggleFrame">
  <p class="jokeNumber">#055</p>
  <p class="jokeSetup">
    What do you call a police officer in bed?
  </p>

  <div class="spoiler">
    <input type="button" onclick="showPunchline(this);" value="Show Answer" />
    <div class="inner" style="display:none;">
      <p class="jokePunchline">
        An undercover cop.
      </p>
    </div>
  </div>
</div>

<div class="giggleFrame">
  <p class="jokeNumber">#056</p>
  <p class="jokeSetup">
    What did the baby corn say to the mother corn?
  </p>

  <div class="spoiler">
    <input type="button" onclick="showPunchline(this);" value="Show Answer" />
    <div class="inner" style="display:none;">
      <p class="jokePunchline">
        "Where's popcorn?"
      </p>
    </div>
  </div>
</div>

<div class="giggleFrame">
  <p class="jokeNumber">#057</p>
  <p class="jokeSetup">
    What did the duck say to the bartender?
  </p>

  <div class="spoiler">
    <input type="button" onclick="showPunchline(this);" value="Show Answer" />
    <div class="inner" style="display:none;">
      <p class="jokePunchline">
        "Put it on my bill."
      </p>
    </div>
  </div>
</div>

<div class="giggleFrame">
  <p class="jokeNumber">#058</p>
  <p class="jokeSetup">
    Why do golfers wear two pairs of pants?
  </p>

  <div class="spoiler">
    <input type="button" onclick="showPunchline(this);" value="Show Answer" />
    <div class="inner" style="display:none;">
      <p class="jokePunchline">
        In case they get a hole in one.
      </p>
    </div>
  </div>
</div>

<div class="giggleFrame">
  <p class="jokeNumber">#059</p>
  <p class="jokeSetup">
    How does a billboard talk?
  </p>

  <div class="spoiler">
    <input type="button" onclick="showPunchline(this);" value="Show Answer" />
    <div class="inner" style="display:none;">
      <p class="jokePunchline">
        Through sign language.
      </p>
    </div>
  </div>
</div>

<div class="giggleFrame">
  <p class="jokeNumber">#060</p>
  <p class="jokeSetup">
    What is the leading cause of dry skin?
  </p>

  <div class="spoiler">
    <input type="button" onclick="showPunchline(this);" value="Show Answer" />
    <div class="inner" style="display:none;">
      <p class="jokePunchline">
        Towels.
      </p>
    </div>
  </div>
</div>

<div class="giggleFrame">
  <p class="jokeNumber">#061</p>
  <p class="jokeSetup">
    What did the mayonnaise say when the fridge door opened?
  </p>

  <div class="spoiler">
    <input type="button" onclick="showPunchline(this);" value="Show Answer" />
    <div class="inner" style="display:none;">
      <p class="jokePunchline">
        "Close that, I'm dressing!"
      </p>
    </div>
  </div>
</div>

<div class="giggleFrame">
  <p class="jokeNumber">#062</p>
  <p class="jokeSetup">
    Where can you find a dog with no legs?
  </p>

  <div class="spoiler">
    <input type="button" onclick="showPunchline(this);" value="Show Answer" />
    <div class="inner" style="display:none;">
      <p class="jokePunchline">
        Wherever you left it.
      </p>
    </div>
  </div>
</div>

<div class="giggleFrame">
  <p class="jokeNumber">#063</p>
  <p class="jokeSetup">
    What did the excited gardener do when spring finally came?
  </p>

  <div class="spoiler">
    <input type="button" onclick="showPunchline(this);" value="Show Answer" />
    <div class="inner" style="display:none;">
      <p class="jokePunchline">
        He wet his plants.
      </p>
    </div>
  </div>
</div>

<div class="giggleFrame">
  <p class="jokeNumber">#064</p>
  <p class="jokeSetup">
    Why can't a nose be twelve inches long?
  </p>

  <div class="spoiler">
    <input type="button" onclick="showPunchline(this);" value="Show Answer" />
    <div class="inner" style="display:none;">
      <p class="jokePunchline">
        Because then it would be a foot.
      </p>
    </div>
  </div>
</div>

<div class="giggleFrame">
  <p class="jokeNumber">#065</p>
  <p class="jokeSetup">
    I have six ears, three eyes, and two mouths. What am I?
  </p>

  <div class="spoiler">
    <input type="button" onclick="showPunchline(this);" value="Show Answer" />
    <div class="inner" style="display:none;">
      <p class="jokePunchline">
        Ugly.
      </p>
    </div>
  </div>
</div>

<div class="giggleFrame">
  <p class="jokeNumber">#066</p>
  <p class="jokeSetup">
    What does a painter do when they get cold?
  </p>

  <div class="spoiler">
    <input type="button" onclick="showPunchline(this);" value="Show Answer" />
    <div class="inner" style="display:none;">
      <p class="jokePunchline">
        They put on another coat.
      </p>
    </div>
  </div>
</div>

<div class="giggleFrame">
  <p class="jokeNumber">#067</p>
  <p class="jokeSetup">
    On which side do chickens have the most feathers?
  </p>

  <div class="spoiler">
    <input type="button" onclick="showPunchline(this);" value="Show Answer" />
    <div class="inner" style="display:none;">
      <p class="jokePunchline">
        On the outside.
      </p>
    </div>
  </div>
</div>

<div class="giggleFrame">
  <p class="jokeNumber">#068</p>
  <p class="jokeSetup">
    Ho do you cut an ocean in two?
  </p>

  <div class="spoiler">
    <input type="button" onclick="showPunchline(this);" value="Show Answer" />
    <div class="inner" style="display:none;">
      <p class="jokePunchline">
        With a sea-saw.
      </p>
    </div>
  </div>
</div>

<div class="giggleFrame">
  <p class="jokeNumber">#069</p>
  <p class="jokeSetup">
    What do you call a man with a rubber toe?
  </p>

  <div class="spoiler">
    <input type="button" onclick="showPunchline(this);" value="Show Answer" />
    <div class="inner" style="display:none;">
      <p class="jokePunchline">
        Roberto.
      </p>
    </div>
  </div>
</div>

<div class="giggleFrame">
  <p class="jokeNumber">#070</p>
  <p class="jokeSetup">
    I ordered one-thousand pounds of soup.
  </p>

  <div class="spoiler">
    <input type="button" onclick="showPunchline(this);" value="Show Answer" />
    <div class="inner" style="display:none;">
      <p class="jokePunchline">
        It was wonton.
      </p>
    </div>
  </div>
</div>

<div class="giggleFrame">
  <p class="jokeNumber">#071</p>
  <p class="jokeSetup">
    I had a dream last night that I was a muffler.
  </p>

  <div class="spoiler">
    <input type="button" onclick="showPunchline(this);" value="Show Answer" />
    <div class="inner" style="display:none;">
      <p class="jokePunchline">
        I woke up exhausted.
      </p>
    </div>
  </div>
</div>

<div class="giggleFrame">
  <p class="jokeNumber">#072</p>
  <p class="jokeSetup">
    What do you call a fish with no 'I'?
  </p>

  <div class="spoiler">
    <input type="button" onclick="showPunchline(this);" value="Show Answer" />
    <div class="inner" style="display:none;">
      <p class="jokePunchline">
        Fssshhh.
      </p>
    </div>
  </div>
</div>

<div class="giggleFrame">
  <p class="jokeNumber">#073</p>
  <p class="jokeSetup">
    Why don't cats play cards?
  </p>

  <div class="spoiler">
    <input type="button" onclick="showPunchline(this);" value="Show Answer" />
    <div class="inner" style="display:none;">
      <p class="jokePunchline">
        Because there are too many cheetahs.
      </p>
    </div>
  </div>
</div>

<div class="giggleFrame">
  <p class="jokeNumber">#074</p>
  <p class="jokeSetup">
    The male pig put the crowd to sleep.
  </p>

  <div class="spoiler">
    <input type="button" onclick="showPunchline(this);" value="Show Answer" />
    <div class="inner" style="display:none;">
      <p class="jokePunchline">
        ...You could say he was quite a boar.
      </p>
    </div>
  </div>
</div>

<div class="giggleFrame">
  <p class="jokeNumber">#075</p>
  <p class="jokeSetup">
    Have you heard about the giraffe with a big butt?
  </p>

  <div class="spoiler">
    <input type="button" onclick="showPunchline(this);" value="Show Answer" />
    <div class="inner" style="display:none;">
      <p class="jokePunchline">
        It was a tall tale.
      </p>
    </div>
  </div>
</div>

<div class="giggleFrame">
  <p class="jokeNumber">#076</p>
  <p class="jokeSetup">
    What's orange and sounds like a parrot?
  </p>

  <div class="spoiler">
    <input type="button" onclick="showPunchline(this);" value="Show Answer" />
    <div class="inner" style="display:none;">
      <p class="jokePunchline">
        A carrot.
      </p>
    </div>
  </div>
</div>

<div class="giggleFrame">
  <p class="jokeNumber">#077</p>
  <p class="jokeSetup">
    What state has the smallest drinks?
  </p>

  <div class="spoiler">
    <input type="button" onclick="showPunchline(this);" value="Show Answer" />
    <div class="inner" style="display:none;">
      <p class="jokePunchline">
        Mini-Soda.
      </p>
    </div>
  </div>
</div>

<div class="giggleFrame">
  <p class="jokeNumber">#078</p>
  <p class="jokeSetup">
    What do you call a winter time contract?
  </p>

  <div class="spoiler">
    <input type="button" onclick="showPunchline(this);" value="Show Answer" />
    <div class="inner" style="display:none;">
      <p class="jokePunchline">
        A Santa Clause.
      </p>
    </div>
  </div>
</div>

<div class="giggleFrame">
  <p class="jokeNumber">#079</p>
  <p class="jokeSetup">
    Why did the phone need glasses?
  </p>

  <div class="spoiler">
    <input type="button" onclick="showPunchline(this);" value="Show Answer" />
    <div class="inner" style="display:none;">
      <p class="jokePunchline">
        Because it lost all its contacts.
      </p>
    </div>
  </div>
</div>

<div class="giggleFrame">
  <p class="jokeNumber">#080</p>
  <p class="jokeSetup">
    I hurt my foot driving the other day. You know who I called?
  </p>

  <div class="spoiler">
    <input type="button" onclick="showPunchline(this);" value="Show Answer" />
    <div class="inner" style="display:none;">
      <p class="jokePunchline">
        The toe company.
      </p>
    </div>
  </div>
</div>

<div class="giggleFrame">
  <p class="jokeNumber">#081</p>
  <p class="jokeSetup">
    What do you call an alligator wearing a vest?
  </p>

  <div class="spoiler">
    <input type="button" onclick="showPunchline(this);" value="Show Answer" />
    <div class="inner" style="display:none;">
      <p class="jokePunchline">
        An investigator.
      </p>
    </div>
  </div>
</div>

<div class="giggleFrame">
  <p class="jokeNumber">#082</p>
  <p class="jokeSetup">
    What's the best thing about Switzerland?
  </p>

  <div class="spoiler">
    <input type="button" onclick="showPunchline(this);" value="Show Answer" />
    <div class="inner" style="display:none;">
      <p class="jokePunchline">
        Well, their flag is a big plus.
      </p>
    </div>
  </div>
</div>

<div class="giggleFrame">
  <p class="jokeNumber">#083</p>
  <p class="jokeSetup">
    What's the cheapest way to see the world?
  </p>

  <div class="spoiler">
    <input type="button" onclick="showPunchline(this);" value="Show Answer" />
    <div class="inner" style="display:none;">
      <p class="jokePunchline">
        Buy a map.
      </p>
    </div>
  </div>
</div>

<div class="giggleFrame">
  <p class="jokeNumber">#084</p>
  <p class="jokeSetup">
    What do liars do when they die?
  </p>

  <div class="spoiler">
    <input type="button" onclick="showPunchline(this);" value="Show Answer" />
    <div class="inner" style="display:none;">
      <p class="jokePunchline">
        They lie still.
      </p>
    </div>
  </div>
</div>

<div class="giggleFrame">
  <p class="jokeNumber">#085</p>
  <p class="jokeSetup">
    What do you call bears with no ears?
  </p>

  <div class="spoiler">
    <input type="button" onclick="showPunchline(this);" value="Show Answer" />
    <div class="inner" style="display:none;">
      <p class="jokePunchline">
        B.
      </p>
    </div>
  </div>
</div>

<div class="giggleFrame">
  <p class="jokeNumber">#086</p>
  <p class="jokeSetup">
    What did Mario say when he broke up with Princess Peach?
  </p>

  <div class="spoiler">
    <input type="button" onclick="showPunchline(this);" value="Show Answer" />
    <div class="inner" style="display:none;">
      <p class="jokePunchline">
        "It's not you, it's-a-me."
      </p>
    </div>
  </div>
</div>

<div class="giggleFrame">
  <p class="jokeNumber">#087</p>
  <p class="jokeSetup">
    What kind of picture does your mouth take?
  </p>

  <div class="spoiler">
    <input type="button" onclick="showPunchline(this);" value="Show Answer" />
    <div class="inner" style="display:none;">
      <p class="jokePunchline">
        Toothpicks.
      </p>
    </div>
  </div>
</div>

<div class="giggleFrame">
  <p class="jokeNumber">#088</p>
  <p class="jokeSetup">
    What do they call Miley Cyrus in Europe?
  </p>

  <div class="spoiler">
    <input type="button" onclick="showPunchline(this);" value="Show Answer" />
    <div class="inner" style="display:none;">
      <p class="jokePunchline">
        Kilometer Cyrus.
      </p>
    </div>
  </div>
</div>

<div class="giggleFrame">
  <p class="jokeNumber">#089</p>
  <p class="jokeSetup">
    Where was the Declaration of Independence signed?
  </p>

  <div class="spoiler">
    <input type="button" onclick="showPunchline(this);" value="Show Answer" />
    <div class="inner" style="display:none;">
      <p class="jokePunchline">
        At the bottom.
      </p>
    </div>
  </div>
</div>

<div class="giggleFrame">
  <p class="jokeNumber">#090</p>
  <p class="jokeSetup">
    What kind of waves do tiny surfers ride?
  </p>

  <div class="spoiler">
    <input type="button" onclick="showPunchline(this);" value="Show Answer" />
    <div class="inner" style="display:none;">
      <p class="jokePunchline">
        Microwaves.
      </p>
    </div>
  </div>
</div>

<div class="giggleFrame">
  <p class="jokeNumber">#091</p>
  <p class="jokeSetup">
    How did the hipster burn his tongue?
  </p>

  <div class="spoiler">
    <input type="button" onclick="showPunchline(this);" value="Show Answer" />
    <div class="inner" style="display:none;">
      <p class="jokePunchline">
        He drank it before it was cool.
      </p>
    </div>
  </div>
</div>

<div class="giggleFrame">
  <p class="jokeNumber">#092</p>
  <p class="jokeSetup">
    What do you call a cow with a twitch?
  </p>

  <div class="spoiler">
    <input type="button" onclick="showPunchline(this);" value="Show Answer" />
    <div class="inner" style="display:none;">
      <p class="jokePunchline">
        Beef jerky.
      </p>
    </div>
  </div>
</div>

<div class="giggleFrame">
  <p class="jokeNumber">#093</p>
  <p class="jokeSetup">
    What do you call it when you have your grandma on speed dial?
  </p>

  <div class="spoiler">
    <input type="button" onclick="showPunchline(this);" value="Show Answer" />
    <div class="inner" style="display:none;">
      <p class="jokePunchline">
        Instagram.
      </p>
    </div>
  </div>
</div>

<div class="giggleFrame">
  <p class="jokeNumber">#094</p>
  <p class="jokeSetup">
    Did you hear about the shampoo shortage in Jamaica?
  </p>

  <div class="spoiler">
    <input type="button" onclick="showPunchline(this);" value="Show Answer" />
    <div class="inner" style="display:none;">
      <p class="jokePunchline">
        It was dreadful.
      </p>
    </div>
  </div>
</div>

<div class="giggleFrame">
  <p class="jokeNumber">#095</p>
  <p class="jokeSetup">
    What happens when you eat yeast and shoe polish for breakfast?
  </p>

  <div class="spoiler">
    <input type="button" onclick="showPunchline(this);" value="Show Answer" />
    <div class="inner" style="display:none;">
      <p class="jokePunchline">
        You rise and shine every morning.
      </p>
    </div>
  </div>
</div>

<div class="giggleFrame">
  <p class="jokeNumber">#096</p>
  <p class="jokeSetup">
    Why did they never make a belt with a watch on it?
  </p>

  <div class="spoiler">
    <input type="button" onclick="showPunchline(this);" value="Show Answer" />
    <div class="inner" style="display:none;">
      <p class="jokePunchline">
        Because it would be a waist of time.
      </p>
    </div>
  </div>
</div>

<div class="giggleFrame">
  <p class="jokeNumber">#097</p>
  <p class="jokeSetup">
    You should learn sign language.
  </p>

  <div class="spoiler">
    <input type="button" onclick="showPunchline(this);" value="Show Answer" />
    <div class="inner" style="display:none;">
      <p class="jokePunchline">
        ...It's very handy.
      </p>
    </div>
  </div>
</div>

<div class="giggleFrame">
  <p class="jokeNumber">#098</p>
  <p class="jokeSetup">
    Did you hear about the man that drank 8 Cokes?
  </p>

  <div class="spoiler">
    <input type="button" onclick="showPunchline(this);" value="Show Answer" />
    <div class="inner" style="display:none;">
      <p class="jokePunchline">
        He threw 7-Up.
      </p>
    </div>
  </div>
</div>

<div class="giggleFrame">
  <p class="jokeNumber">#099</p>
  <p class="jokeSetup">
    Why shouldn't you laugh at a fat person with a lisp?
  </p>

  <div class="spoiler">
    <input type="button" onclick="showPunchline(this);" value="Show Answer" />
    <div class="inner" style="display:none;">
      <p class="jokePunchline">
        Because they're thick and thired of it.
      </p>
    </div>
  </div>
</div>

<div class="giggleFrame">
  <p class="jokeNumber">#100</p>
  <p class="jokeSetup">
    What do mermaids wash their fins with?
  </p>

  <div class="spoiler">
    <input type="button" onclick="showPunchline(this);" value="Show Answer" />
    <div class="inner" style="display:none;">
      <p class="jokePunchline">
        Tide.
      </p>
    </div>
  </div>
</div>

<div class="giggleFrame">
  <p class="jokeNumber">#101</p>
  <p class="jokeSetup">
    Did you know that on average people want three coverings on their beds?
  </p>

  <div class="spoiler">
    <input type="button" onclick="showPunchline(this);" value="Show Answer" />
    <div class="inner" style="display:none;">
      <p class="jokePunchline">
        That's just a blanket statement.
      </p>
    </div>
  </div>
</div>

<div class="giggleFrame">
  <p class="jokeNumber">#102</p>
  <p class="jokeSetup">
    What do you call a dehydrated camel?
  </p>

  <div class="spoiler">
    <input type="button" onclick="showPunchline(this);" value="Show Answer" />
    <div class="inner" style="display:none;">
      <p class="jokePunchline">
        A dry humper.
      </p>
    </div>
  </div>
</div>

<div class="giggleFrame">
  <p class="jokeNumber">#103</p>
  <p class="jokeSetup">
    I farted in my wallet...
  </p>

  <div class="spoiler">
    <input type="button" onclick="showPunchline(this);" value="Show Answer" />
    <div class="inner" style="display:none;">
      <p class="jokePunchline">
        ...Now I have gas money.
      </p>
    </div>
  </div>
</div>

<div class="giggleFrame">
  <p class="jokeNumber">#104</p>
  <p class="jokeSetup">
    Why did Waldo go to therapy?
  </p>

  <div class="spoiler">
    <input type="button" onclick="showPunchline(this);" value="Show Answer" />
    <div class="inner" style="display:none;">
      <p class="jokePunchline">
        To find himself.
      </p>
    </div>
  </div>
</div>

<div class="giggleFrame">
  <p class="jokeNumber">#105</p>
  <p class="jokeSetup">
    Did you know that french fries weren't made in France?
  </p>

  <div class="spoiler">
    <input type="button" onclick="showPunchline(this);" value="Show Answer" />
    <div class="inner" style="display:none;">
      <p class="jokePunchline">
        They were originally cooked in grease.
      </p>
    </div>
  </div>
</div>

<div class="giggleFrame">
  <p class="jokeNumber">#106</p>
  <p class="jokeSetup">
    I didn't like my beard at first...
  </p>

  <div class="spoiler">
    <input type="button" onclick="showPunchline(this);" value="Show Answer" />
    <div class="inner" style="display:none;">
      <p class="jokePunchline">
        ...But then it grew on me.
      </p>
    </div>
  </div>
</div>
