<div class="heroWrapper">
  <p class="heroGreeting">HI.</p>
  <p class="heroSubtext">My name is Chris, and I'm <br />a <span class="heroSpacer">&nbsp;</span> .</p>
</div>

<div id="hero" class="carousel slide" data-ride="carousel">

  <!-- Indicators -->
  <!--
  <ol class="carousel-indicators">
    <li data-target="#hero" data-slide-to="0" class="active"></li>
    <li data-target="#hero" data-slide-to="1"></li>
    <li data-target="#hero" data-slide-to="2"></li>
  </ol>
  -->

  <!-- Wrapper for slides -->
  <!--
  <p class="heroSmall1">Graphic<br /> Designer</p>
  <p class="heroSmall2">Web Developer</p>
  <p class="heroSmall3">Marketing<br /> Specialist</p>
  -->
  <div class="carousel-inner">

    <div class="item active">
      <p class="heroVariable">Graphic Designer</p>
      <img src="assets/images/photos/hero1.jpg" alt="#">
    </div>

    <div class="item">
      <p class="heroVariable">Front End Developer</p>
      <img src="assets/images/photos/codebook.jpg" alt="#">
    </div>

    <div class="item">
      <p class="heroVariable">Marketing Specialist</p>
      <img src="assets/images/photos/stats.jpg" alt="#">
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#hero" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#hero" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
