<nav class="navbar">
  <div class="onepage-pagination dotstyle dotstyle-fillup">
    <ul>
      <a href="#1"><li class="invisible current" data-index="1">Home</li></a>
      <a href="#2"><li class="invisible" data-index="2">Work</li></a>
      <a href="#3"><li class="invisible" data-index="3">Brands</li></a>
      <a href="#4"><li class="invisible" data-index="4">Contact</li></a>
      <li class="secondary" data-index="5"><a href="/blog">Blog</a></li>
      <li class="secondary" data-index="6"><a id="aboutButton">About</a></li>
<!--        <li class="secondary" data-index="7"><a href="#7">[Password]</a></li> -->
    </ul>
  </div>

  <div id="navTooltips">
    <ul>
      <li>Home</li>
      <li>Work</li>
      <li>Brands</li>
      <li>Contact</li>
      <li>Blog</li>
      <li>About</li>
<!--        <li>[Password]</li> -->
    </ul>
  </div>

  <div class="about">
    <span class="aboutClose"><i class="fas fa-angle-left"></i></span>
    <img src="/assets/images/photos/portrait-lowsat.png">
    <span class="hello nobreak">Hi, I'm Chris.</span>
    <p>
      I'm an Idaho native that works primarily in graphic design and marketing,
      though I often moonlight as a superhero when daydreaming. I'm also a
      traditional market-variety nerd from the 90's and all-around fan of making
      things, whether it be through cooking, woodworking, or design.
    </p>

  </div>

</nav>
