<nav class="navbar">
  <div class="onepage-pagination dotstyle dotstyle-fillup">
    <ul>
      <li class="invisible current" data-index="1"><a href="#1">Home</a></li>
      <li class="invisible" data-index="2"><a href="#2">Work</a></li>
      <li class="invisible" data-index="3"><a href="#3">Brands</a></li>
      <li class="invisible" data-index="4"><a href="#4">Contact</a></li>
      <li class="secondary" data-index="5"><a href="/blog">Blog</a></li>
      <li class="secondary" data-index="6"><a href="#6">About</a></li>
<!--        <li class="secondary" data-index="7"><a href="#7">[Password]</a></li> -->
    </ul>
  </div>

  <div class="navTooltips">
    <ul>
      <li>Home</li>
      <li>Work</li>
      <li>Brands</li>
      <li>Contact</li>
      <li>Blog</li>
      <li>About</li>
<!--        <li>[Password]</li> -->
    </ul>
  </div>
</nav>
