<div class="centerBox">
  <div class="slideshow-container">
    <div class="testimony" style="display: block;">
      <q>
        Chris is a great worker who constantly strives to do his best and
        contribute to improving himself. He has a very creative mind, does well
        working with others and clients to solve problems and come up with
        creative solutions. Chris was always reliable and did quality work.
        I highly recommend him and know he would be a great asset to any
        organization.
      </q>
      <p class="author">- Brad Arendt, Director of Boise State Student Media</p>
    </div>

    <div class="testimony">
      <q>
        I have worked with Christopher for the last 2 years, when given a task
        Christopher is extremely creative and talented. Very knowledgeable of
        online products and if he doesn't know the answer, he will dig into it
        and find out.
      </q>
      <p class="author">- Christy Lapp, Advertising Director at Magic Valley Media </p>
    </div>

    <div class="testimony">
      <q>
        Chris is one of the most talented graphic designers I've worked with
        and his attention to detail and getting the job done right is
        impeccable. He recently (December, 2017) completed a redesign of our
        Elko Visitor's Guide, a magazine product for us and the Elko Convention
        and Visitor's Authority. Their executive director and I agree that this
        is by far the best magazine we've had in the many years of our
        partnership. Chris would be asset to any company - you cannot go wrong
        having him on your team.
      </q>
      <p class="author">- Nancy Streets, Advertising Director at Elko Daily Free Press</p>
    </div>

    <!-- Next/prev buttons -->
    <!--
    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>
    -->
  </div>

  <!-- Dots/bullets/indicators -->
  <div class="dot-container">
    <span class="dot active" onclick="currentSlide(1)"></span>
    <span class="dot" onclick="currentSlide(2)"></span>
    <span class="dot" onclick="currentSlide(3)"></span>
  </div>
</div>
