<div class="centerBox">
  <div id="gallery">
    <div id="galleryWrapper">

      <figure class="galleryCard">
        <img src="/assets/images/work/dsi.jpg" alt="Destination Southern Idaho"/>
        <figcaption>
          <h4>Destination Southern idaho</h4>
          <p>From the Mini-Cassia Chamber of Commerce</p>
        </figcaption>
        <a data-toggle="modal" data-target="#dsi"></a>
      </figure>

      <figure class="galleryCard">
        <img src="/assets/images/work/mvm_brand.jpg" alt="Magic Valley Media Brand"/>
        <figcaption>
          <h4>Magic Valley Media Brand</h4>
          <p>A new brand for a new generation of media</p>
        </figcaption>
        <a data-toggle="modal" data-target="#mvm_brand"></a>
      </figure>

      <figure class="galleryCard">
        <img src="/assets/images/work/pa/pa_logo.jpg" alt="Magicvalley.com Revamp"/>
        <figcaption>
          <h4>PA Site Reboot</h4>
          <p>Building a scalable platform with better access to key information</p>
        </figcaption>
        <a data-toggle="modal" data-target="#pa"></a>
      </figure>

      <figure class="galleryCard">
        <img src="/assets/images/work/expensify_icon.jpg" alt="Expensify App"/>
        <figcaption>
          <h4>Expensify App</h4>
          <p>A new app for business travelers</p>
        </figcaption>
        <a data-toggle="modal" data-target="#expensify"></a>
      </figure>

      <figure class="galleryCard">
        <img src="/assets/images/work/swy.jpg" alt="Starts With You Campaign"/>
        <figcaption>
          <h4>It Starts With You</h4>
          <p>A Yes! Idaho Campaign</p>
        </figcaption>
        <a data-toggle="modal" data-target="#swy"></a>
      </figure>

      <figure class="galleryCard">
        <img src="/assets/images/work/mv_logo.png" alt="Magicvalley.com Revamp"/>
        <figcaption>
          <h4>MV Site Reboot</h4>
          <p>Modernizing the newspaper's digital footprint</p>
        </figcaption>
        <a data-toggle="modal" data-target="#magicvalley"></a>
      </figure>

      <figure class="galleryCard">
        <img src="/assets/images/work/evg.jpg" alt="Elko Visitor's Guide"/>
        <figcaption>
          <h4>Elko 2017 Visitor's Guide</h4>
          <p>For tourists visiting Elko County</p>
        </figcaption>
        <a data-toggle="modal" data-target="#evg"></a>
      </figure>

      <figure class="galleryCard">
        <img src="/assets/images/work/mcvg.jpg" alt="Mini-Cassia Visitor's Guide"/>
        <figcaption>
          <h4>Mini-Cassia Visitor's Guide</h4>
          <p>For tourists visiting Southern Idaho</p>
        </figcaption>
        <a data-toggle="modal" data-target="#mcvg"></a>
      </figure>

      <figure class="galleryCard">
        <img src="/assets/images/work/stadium.jpg" alt="Bronco Stadium"/>
        <figcaption>
          <h4>Interactive Stadium History</h4>
          <p>Highlighting Boise State's 2013 stadium expansion</p>
        </figcaption>
        <a data-toggle="modal" data-target="#stadium"></a>
      </figure>
    </div>
  </div>
</div>
