<div id="gallery">
  <div id="galleryWrapper">

    <figure class="galleryCard">
      <img src="/assets/images/work/dsi.jpg" alt="Destination Southern Idaho"/>
      <figcaption>
        <h4>Destination Southern idaho</h4>
        <p>This is a thing that isn't really a thing.</p>
      </figcaption>
      <a data-toggle="modal" data-target="#dsi"></a>
    </figure>

    <figure class="galleryCard">
      <img src="/assets/images/work/mvm_brand.jpg" alt="Magic Valley Media Brand"/>
      <figcaption>
        <h4>Magic Valley Media Brand</h4>
        <p>This is a thing that isn't really a thing.</p>
      </figcaption>
      <a data-toggle="modal" data-target="#mvm_brand"></a>
    </figure>

    <figure class="galleryCard">
      <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample74.jpg" alt="sample74"/>
      <figcaption>
        <h4>Sample 3</h4>
        <p>This is a thing that isn't really a thing.</p>
      </figcaption>
      <a data-toggle="modal" data-target="#TITLE"></a>
    </figure>

    <figure class="galleryCard">
      <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample74.jpg" alt="sample65"/>
      <figcaption>
        <h4>Sample 4</h4>
        <p>This is a thing that isn't really a thing.</p>
      </figcaption>
      <a data-toggle="modal" data-target="#TITLE"></a>
    </figure>

    <figure class="galleryCard">
      <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample74.jpg" alt="sample48"/>
      <figcaption>
        <h4>Sample 5</h4>
        <p>This is a thing that isn't really a thing.</p>
      </figcaption>
      <a data-toggle="modal" data-target="#TITLE"></a>
    </figure>

    <figure class="galleryCard">
      <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample74.jpg" alt="sample33"/>
      <figcaption>
        <h4>Sample 6</h4>
        <p>This is a thing that isn't really a thing.</p>
      </figcaption>
      <a data-toggle="modal" data-target="#TITLE"></a>
    </figure>
  </div>
</div>
