<script type="text/javascript">
  //Tags Column fly out
  document.querySelector('.filterButton')
    .addEventListener('click', function() {
      if($('.tagsColumn').css('display') == 'block') {
      $('.filterButton').addClass('inactive');
      $('.filterButton').removeClass('active');
      $('.tagsColumn').slideUp();
  	} else {
      $('.filterButton').addClass('active');
      $('.filterButton').removeClass('inactive');
      $('.tagsColumn').slideDown('slow');
  	}
  });

  // Hide Tags Column on outside click
  $('html').click(function() {
    $('.filterButton').addClass('inactive');
    $('.filterButton').removeClass('active');
    $('.tagsColumn').slideUp();
  });

  //exceptions:
  $('.filterButton').click(function(event) {
    event.stopPropagation();
  });
  $('.tagsColumn').click(function(event) {
    event.stopPropagation();
  });
</script>
