.blogFrame {
  height: 100%;
  min-height: 100vh;
  width: 100%;
  padding: 100px 60px 30px;
  background-image: url("/assets/images/textures/pixel_weave.png");
  background-repeat: repeat;
  font-family: Raleway, sans-serif;
}

.tagsColumn {
  z-index: 5;
  position: fixed;
  -webkit-clip-path: polygon(0% 0%, 0 6%, 18% 12%, 18% 100%, 100% 100%, 100% 0%);
  clip-path: polygon(0% 0%, 0 6%, 18% 12%, 18% 100%, 100% 100%, 100% 0%);
  right: -240px;
  transition: right 0.5s ease-out;
  width: 300px;
  height: 1000px;
  top: 100px;
  margin-left: 30px;
  padding-bottom: 15px;
  padding-left: 15px;
  background-image: url("/assets/images/textures/funky-lines-rev.png");
  background-repeat: repeat;
  background-color: $gray80;
  background-blend-mode: multiply;
  font-family: Raleway, sans-serif;
  p { padding: 0 15px 0 60px; }
  a { color: $white; text-decoration: none; }
  h4 {
    color: $white;
    i { height: 30px; }
  }
  span { //inline tags
    padding: 5px 10px;
    display: inline-block;
    text-align: center;
    border: solid 1px $gray10;
    border-radius: 3px;
    cursor: pointer;
    line-height: 1em !important;
  }
  span:hover {
    background-color: $bluejade;
    transition: all 0.25s linear;
  }
}
.tagsColumn:hover {
  right: 0;
  transition: right 0.5s ease-out;
}

.inline {
  display: inline;
  position: relative;
  float: none;
  li {
    display: inline;
    list-style-type: none;
  }
}

.inactive {
  display: none;
}

.faded {
  color: $gray50;
  border-color: $gray50 !important;
  transition: color 0.5s linear;
  transition: border-color 0.5s linear;
}
span.faded:hover {
  background-color: $bluejade;
  transition: background-color 0.25s linear;
}

.reset {
  width: 100%;
  background-color: $white;
  color: $black;
}

#recent {
  width: 100vw;
  margin-left: -60px;
  margin-bottom: 30px;
  background-image: url("/assets/images/textures/pixel_weave.png");
  background-color: $bluejade;
  background-blend-mode: multiply;
  padding: 15px 20vw 30px;
  font-family: Raleway, sans-serif;
  box-shadow: 1px 1px 3px $transparent-black-med;

  a { color: $white; }
  a:hover { color: $gray80 !important; }
  h4 { margin-top: -15px; }
  .rightLink { margin-top: 0; }
}

#archives {
  column-count: 3;
  column-fill: balance;
  column-gap: 2em;
 .archive-group, .archive-item { break-inside: avoid-column;}
 margin-top: 15px;

 h3 {
   width: 100%;
   background-color: $transparent-white;
   background-image: url("/assets/images/textures/pixel_weave.png");
   background-blend-mode: difference;
   color: $gray10;
   padding: 5px 0 5px 30px;
   margin-top: -11px;
   box-shadow: 1px 1px 3px $transparent-black-med;
 }
}

.postImage {
  object-fit: cover;
  max-height: 300px;
}
