.contentFrame {
  height: 100%;
  min-height: 100vh;
  width: 100%;
  padding: 100px 10vw 30px;
  background-image: url("/assets/images/textures/pixel_weave.png");
  background-repeat: repeat;
  font-family: Raleway, sans-serif;
  p { font-size: 14pt; }
  hr { border: solid 0.25px $gray50; margin: 45px auto; }
}

.filterButton {
  position: absolute;
  font-size: 14px;
  letter-spacing: normal;
  cursor: pointer;
}

.filterButton.active {
  display: inline;
  color: $gray20;
//  padding-bottom: 15px;
  transition: color 0.2s linear;
}
.filterButton.inactive {
  display: inline;
  transition: color 0.2s linear;
}

.tagsColumn {
  z-index: 5;
  position: fixed;
  display: none;
  right: calc(5vw + 5px);
  top: 120px;
  width: 30vw;
  margin-left: 30px;
  padding: 15px;
  background-color: $gray80;
  background-blend-mode: multiply;
  border-radius: 2px;
  a { color: $white; text-decoration: none; }
  span { //inline tags
    padding: 5px 10px;
    display: inline-block;
    text-align: center;
    border: solid 1px $gray10;
    border-radius: 3px;
    cursor: pointer;
    line-height: 1em !important;
  }
  span:hover {
    background-color: $bluejade;
    transition: all 0.25s linear;
  }
}

.inline {
  display: inline;
  position: relative;
  float: none;
  li {
    display: inline;
    list-style-type: none;
  }
}

.inactive {
  display: none;
}

.faded {
  color: $gray50;
  border-color: $gray50 !important;
  transition: color 0.5s linear;
  transition: border-color 0.5s linear;
}
span.faded:hover {
  background-color: $bluejade;
  transition: background-color 0.25s linear;
}

.tagsReset {
  background-color: $white;
  color: $black;
}
.tagsReset:hover {
  border: solid 1px $roarange !important;
  color: $roarange;
  background-color: $transparent !important;
}

#recent {
  width: 60vw;
  font-family: Raleway, sans-serif;
  h4 { margin-top: -15px; }
  .rightLink { margin-top: 0; }
}

#archives {
  column-count: 3;
  column-fill: balance;
  column-gap: 2em;
 .archive-group, .archive-item { break-inside: avoid-column;}
 margin-top: 15px;

 h3 {
   width: 100%;
   background-color: $transparent-white;
   background-image: url("/assets/images/textures/pixel_weave.png");
   background-blend-mode: difference;
   color: $gray10;
   padding: 5px 0 5px 30px;
   margin-top: -11px;
   box-shadow: 1px 1px 3px $transparent-black-med;
 }
}

.archive-item {
  height: 400px;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-bottom: 30px;
//  border-bottom: solid 0.5px $gray20;
  margin-bottom: 30px;
}
//fix for strange misplacement on first archive item in list
.archive-item:nth-child(1) {
  margin-top: -12px;
  height: 411px;
}

.postImage {
  object-fit: cover;
  max-height: 300px;
}
