.brandCopy {
  position: absolute;
  width: 25vw;
  bottom: 20vh;
  font-size: 2em;
}

.brandsGrid {
  position: absolute;
  width: 40vw;
  height: 85vh;
  right: 90px;
  top: 60px;

  td {
    width: 150px;
    height: 15vh;
    padding: 5px;
  }
}

.brandImg {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.brandJoin {
  display:block;
  height: 10vh;
  width: 10vw;
  text-align: center;
  font-size: calc(0.5vh + 0.7vw);
  padding: 2.5vh 10%;
  border: solid 1px $bluejade;
  color: $bluejade;
  text-transform: uppercase;
  margin: 0 auto;
}

.contactButton {
  margin: 15px 30px 15px 0;
  font-size: 16pt;
  text-transform: uppercase;
  text-decoration: none;
  color: $white;
  background-color: $transparent;
  border: solid 1px $white;
  transition: all 0.25s linear;
  padding: 10px 4vw;
}

.contactButton:hover {
  a { color: $roarange;
      text-decoration: none !important;
      transition: color 0.25s linear;
    }

  color: $roarange;
  transition: all 0.25s linear;
  border: solid 1px $roarange;
}
