.section {
  font-family: 'Raleway', 'Trebuchet', sans-serif;
  color: $white;
}
.section1 {
  background-image: url('/assets/images/photos/hero1.jpg');
  background-size: cover;
  background-position: 50% 80%;
}

.section2, .section3, .section4 {
  background-image: url('/assets/images/textures/pixel_weave_inv.png');
  background-repeat: repeat;
  padding: 60px 60px 60px 180px;
}
