// Vertical Navigation Dots
.section {
height: 100vh;
font-family: Raleway, sans-serif;
}

.vNav {
  position: fixed;
  top: 70%;
  right: 1%;
  width: 50px;
  z-index: 10;
  list-style-type: none;
  ul {
  position: relative;
  padding: 3px;
  padding-left: 35%;
    li{
      position: relative;
      padding-bottom: 20px;
      padding-left: 35%;
      color: rgb(113,135,133);
    }
  }
}

.vNav a{
  display: block;
  width: 8px;
  height: 8px;
  text-indent: -9999px;
  border-radius: 50%;
  border: 2px solid;
  border-color: rgb(113,135,133);
  text-decoration: none;
}

.vNav a:hover{
  border-radius: 50%;
  background-color: $white;
  text-decoration: none;
}

.vNav a.active{
  border-radius: 50%;
  background-color: rgb(113,135,133);
  text-decoration: none;
}

.label {
  position: relative;
  top: -180%;
  right: 2vw;
  width: 100%;
  text-align: right;
  font-size: 1em;
  color: rgb(113,135,133);
  display: none;
  font-family: raleway thin, sans-serif;
}

// Parallax Scroll and Section Backgrounds/Content

#section1 {
  background-image: url("/assets/images/textures/funky-lines.png");
  background-repeat: repeat;
  background-attachment: fixed;
}

.portrait {
  border-radius: 50%;
  height: 30vw;
  max-height: 300px;
  width: 30vw;
  max-width: 300px;
  object-fit: cover;
  object-position: center;
  vertical-align: middle;
  margin: calc(30vh - 30px) 10vw;
  background-attachment: fixed; //For Parallax Effect
}

.bio {
  float: right;
  display: inline-block;
  position: absolute;
  margin: calc(30vh + 40px) 10vw 0 0;
  vertical-align: middle;
}

#bioAnimate.start {
  animation: fadeInUp;
}
