.articleWrapper {
  background-image: url('/assets/images/textures/pixel_weave.png');
  background-repeat: repeat;
  padding: 20vh 10vw 0;
  height: 100%;
  min-height: 100vh;
  margin-bottom: 5vh;
}

.article {
  background-color: $white;
  padding: 60px;
  margin: 10px auto;
  width: 60vw;
  max-width: 960px;
  min-width: 380px;
  height: 100%;
  padding-bottom: 100px;
  p {
    font-family: 'Raleway', sans-serif;
    text-indent: 2em;
    line-height: 2em;
    font-size: 16pt;
  }
  h5 {
    font-size: 22pt;
  }
  img { width: 100%; }
}

.photoCaption {
  font-size: 10pt !important;
  color: $gray50;
  text-indent: 0;
  text-align: center;
  top: 5px;
}
