@media screen and (min-width: 1080px) { .resourceBox { column-count: 3; } }
@media screen and (max-width: 1080px) { .resourceBox { column-count: 2; } }
@media screen and (max-width: 750px) { .resourceBox { column-count: 1; } }

.toolFilter {
  width: 90vw;
  position: absolute;
  left: 12.5vw;
  margin-top: -15px;
  font-size: 1.7em;
  cursor: default;
  ul {
    display: inline;
    padding-left: 10px;
  }

  ul li {
    list-style-type: none;
    display: inline;
    margin: 0 5px;
    cursor: pointer;
    .filterTooltip { display: none; }
  }

  ul li:hover {
    .filterTooltip { display: inline-block; }
  }

  .filterTooltip {
    position: absolute;
    z-index: 5;
    background-color: $black;
    border-radius: 4px;
    font-size: 10pt;
    padding: 5px;
    color: $white;
    transition: display 100ms ease-in;
    pointer-events: none;
  }

  .toolFilterIcon { transition: all 250ms linear; }
}

.toolFilterIcon.active { color: $roarange; }
.toolFilterIcon.inactive { color: $gray50; }
.toolFilterIcon.inactive:hover { color: $black; transition: all 100ms linear; }


.resourceBox {
  position: relative;
  column-gap: 0;
  height: 100%;
  min-height: 100vh;
  margin: 30px;

  .resourcePanel { break-inside: avoid; }

  table {
    width: 95%;
    float: left;
    margin: 2.5%;
    box-shadow: 0 0 10px $bluejade;
    font-family: raleway, calibri, sans-serif;
  }

  table:hover {
    box-shadow: 0 0 5px $roarange;
    transition: box-shadow 0.25s linear;
    a {
      color: $roarange;
      transition: color 0.25s linear;
     }
//    th {
//      color: $roarange;
//      transition: color 0.25s linear;
//   }
  }

  th {
    padding: 5px 30px;
    background-image: url("/assets/images/textures/pixel_weave_inv.png");
    background-repeat: repeat;
    vertical-align: middle;
    color: $white;
    font-family: "Covered By Your Grace", Raleway, sans-serif;
//    border-top-left-radius: 10px;
//    border-top-right-radius: 10px;
  }

  tr td {
    padding: 10px 30px;
    vertical-align: middle;
    background-color: $white;
    color: $gray80;
  }

  tr td:nth-child(1) {
    width: 25%;
    min-width: 100px;
    font-weight: bold;
  }

  tr:nth-last-child(1) {
    td {
//      border-bottom-left-radius: 10px;
//      border-bottom-right-radius: 10px;
      padding-bottom: 20px;
    }
  }
}

.hide { display: none; }
