.contactForm {
  position: relative;
  left: 0;
  width: 38vw;
  height: 70vh;
  font-family: 'Covered By Your Grace', 'Raleway', sans-serif;
  font-size: 1.8em;
  line-height: 7vh;
  overflow: hidden;

  input {
    outline: none;
    background-color: $transparent;
    border: none;
    border-bottom: solid 1px $white;
    width: 65%;
  }
}

.subject {
  width: 80% !important;
  padding-right: 70px;
}

.textCounter {
  font-family: 'Raleway', 'Trebuchet', sans-serif;
  font-size: 9pt;
  color: $roarange;
  position: absolute;
  margin-left: -70px;
}

.phone {
  white-space: nowrap;
  input {
    width: 50px;
    text-align: center;
  }
}

.submit {
  margin: 15px 30px 15px 0;
  font-size: 16pt;
  text-transform: uppercase;
  text-decoration: none;
  background-color: $transparent;
  border: solid 1px $bluejade;
  transition: all 0.25s linear;
  padding: 10px 4vw;
}

.submit:hover {
  a { color: $roarange;
      text-decoration: none !important;
      transition: all 0.25s linear;
    }
  border: solid 1px $roarange;
  transition: all 0.25s linear;
}

.reset {
  background-color: $transparent;
  border: none;
  color: $white;
  width: auto;
}

.reset:hover {
  color: $roarange;
}

.contactRight {
  position: absolute;
  width: 45vw;
  height: 80vh;
  top: 60px;
  right: 0;
  margin-bottom: 60px;
  border-left: solid 3px $white;
  padding-left: 5vw;
  p {
    margin: 30px 0 !important;
    font-size: 3.25vh;
  }
}

#contactLogo {
  margin: 0 auto;
  height: 60vh;
  width: 40vw;
  object-fit: contain;
//  width: 100%; //This centers the logo
  padding-right: 60px;
  align-content: center;
  object-fit: contain;
}

#contactWordmark {
  margin: 0 auto;
  height: 20vh;
  width: 40vw;
  object-fit: contain;
//  width: 100%; //This centers the logo
  padding-right: 60px;
  align-content: center;
  object-fit: contain;
}

.showContact {
  position: absolute;
  width: 40vw;
  height: 10vh;
  margin: 65vh 30vw 0 20vw;
  background-color: $transparent;
  border: solid 2px $bluejade;
  text-transform: uppercase;
  font-size: 5vw;
  transition: all 0.25s linear;
}

.showContact:hover {
  transition: all 0.25s linear;
  border: solid 2px $roarange;
}

#mobileContact {
  .modal-content { width: 97vw; }
  .modal-body {
    top: 0;
    left: 0;
    height: 85vh;
    color: $white;
  }
}

#contact_confirm {
  color: $white;
  font-size: 1.5em;
  font-family: 'Raleway', 'Trebuchet', sans-serif;
  .modal-content {
    width: 30vw;
    min-width: 300px;
    height: 30vh;
    min-height: 165px;
    margin: 10vw auto;
  }
  button {
    margin-top: 7vh;
    position: absolute;
    right: 15px;
    background-color: $transparent;
    border: solid 1px $bluejade;
    color: $bluejade;
    font-family: 'Raleway', 'Trebuchet', sans-serif;
    text-transform: uppercase;
    transition: all 0.1s linear;
  }
  button:hover {
    background-color: $transparent;
    border: solid 1px $roarange;
    color: $roarange;
    transition: all 0.1s linear;
  }
}
