#hero { box-shadow: 3px 3px 5px $transparent-black-med; height: 100vh; }

#hero .carousel-inner { height: 100vh; }
#hero .carousel-inner .item { height: 100vh; }
#hero .carousel-inner .item img { height: 100vh; }

.heroCaption {
  z-index: 3;
  color: $white;
  font-size: 4.5vw;
  line-height: 4vw;
  font-weight: bold;
  padding: 5px 0 5px 30px;
  position: absolute;
  margin-left: 10vw;
  vertical-align: middle;
  top: 30%;
  font-family: Raleway light, sans-serif;
  text-shadow: 1px 1px 8px $black;
  .blankSpace {
    pointer-events: none;
    position: inherit;
    z-index: 3;
    color: $transparent;
    padding-bottom: 1vw;
    border-bottom: solid 3px $white;
    padding-right: 37vw;
    text-shadow: none;
  }
  .captionQuestion {
    float: right;
    font-size: 5vw;
    text-shadow: 1px 1px 8px $black;
    margin-left: 50vw;
  }
}

.heroVariable {
  color: $white;
  color: $roarange;
//  mix-blend-mode: difference;
  font-size: 6vw;
  line-height: 4vw;
  font-weight: bold;
  position: absolute;
  display: flex;
  padding: 5px;
  top: 30%;
  font-family: 'Waiting for the Sunrise', sans-serif;
  text-shadow: 1px 1px 8px $black;
}

.heroSmall1, .heroSmall2, .heroSmall3 {
  display: none;
  width: 90fvw;
  position: absolute;
  z-index: 2;
  color: $roarange;
  left: 13vw;
  padding-left: 1vw;
  border-left: solid 3px $roarange;
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  font-weight: 800;
  line-height: 1em;
  font-size: 9vw;
  text-shadow: 1px 1px 3px $transparent-black-med;
  background-color: $transparent-black-light;
  mix-blend-mode: difference;
}

.heroSmall1 { top: 30vh; }
.heroSmall2 { top: 46.5vh; }
.heroSmall3 { top: 55vh; }

#hero .carousel-inner .item img {
  width: 100%;
  object-fit: cover;
}

.carousel-control {
  z-index: 3;
  cursor: pointer;
  position: absolute;
  height: 50px;
  width: 50px !important;
  padding: 16px;
  color: white !important;
  font-weight: bold;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  .glyphicon-chevron-left, .glyphicon-chevron-right { font-size: 18px !important; }
}

.carousel-control:hover { background-color: $transparent-black-light; }
