#hero { box-shadow: 3px 3px 5px $transparent-black-med; height: 100vh; }

#hero .carousel-inner { height: 100vh; }
#hero .carousel-inner .item { height: 100vh; }
#hero .carousel-inner .item img { height: 100vh; }

.heroWrapper {
  z-index: 2;
  position: absolute;
  right: 0;
  bottom: 3vh;
  width: 650px;
}

.heroGreeting {
  font-family: 'Abel', sans-serif;
  font-weight: 800;
  font-size: 7em;
  float: left;
  padding-right: 15px;
  text-shadow: 1px 1px 8px $black;
}

.heroSubtext {
  position: absolute;
  float: right;
  left: 160px;
  vertical-align: bottom;
  padding-top: 15px;
  font-size: 2em;
  letter-spacing: -0.5px;
  line-height: 1.8em;
  text-shadow: 1px 1px 8px $black;
}

.heroSpacer {
  padding: 0 160px;
  border-bottom: solid 2px $white;
}

.heroVariable {
  z-index: 3;
  color: $white;
//  mix-blend-mode: difference;
  font-size: 3em;
  font-weight: bold;
  position: absolute;
  width: 400px;
  bottom: calc(3vh + 20px);
  right: 65px;
  font-family: 'Permanent Marker', sans-serif;
  text-shadow: 1px 1px 8px $black;
}

.heroSmall1, .heroSmall2, .heroSmall3 {
  display: none;
  width: 90vw;
  position: absolute;
  z-index: 2;
  color: $roarange;
  left: 13vw;
  padding-left: 1vw;
  border-left: solid 3px $roarange;
  font-family: 'Abel', sans-serif;
  text-transform: uppercase;
  font-weight: 800;
  line-height: 1em;
  font-size: 9vw;
  text-shadow: 1px 1px 3px $transparent-black-med;
  background-color: $transparent-black-light;
  mix-blend-mode: difference;
}

.heroSmall1 { top: 30vh; }
.heroSmall2 { top: 46.5vh; }
.heroSmall3 { top: 55vh; }

#hero .carousel-inner .item img {
  width: 100%;
  object-fit: cover;
}

.carousel-control {
  z-index: 3;
  cursor: pointer;
  position: absolute;
  height: 25px;
  width: 25px !important;
  margin-top: calc(100vh - 32px);
  padding: 16px;
  color: white !important;
  font-weight: bold;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  background-image: none !important;
  .glyphicon-chevron-left, .glyphicon-chevron-right { font-size: 18px !important; }
}

.carousel-control:hover { background-image: none !important; }

.left.carousel-control { margin-left: calc(100vw - 65px); }

.carousel-control:hover { background-color: $transparent-black-light; }
