.slideshow-container {
  position: relative;
  background: $white;
  border-radius: 5px;
  box-shadow: 2px 2px 5px $black;
  height: 100%;
  max-height: 80vh;
  width: 100%;
  min-width: 270px;
  max-width: 1000px;
  margin: auto;

  .testimony {
    q {
      color: $gray80;
      font-weight: bold;
      font-size: 1.5em;
    }

    .author {
      color: $bluejade;
      padding-top: 15px;
      text-align: right;
      font-size: 1.5em;
    }
  }
}

.testimony {
  display: none;
  padding: 80px;
  text-align: left;
  .author { font-style: italic; }
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -30px;
  padding: 16px;
  color: $gray20;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  position: absolute;
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
  color: white;
}

.dot-container {
  text-align: center;
  padding: 20px;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: $bluejade;
}
