#scrollDown {
  position: absolute;
  left: 48%;
  bottom: 10%;
  color: $gray10;
  animation-iteration-count: infinite;
  animation-delay: 1s;
  .fas:hover, svg:hover, .fa-5x:hover, a:hover { color: $white; }
  .fas:visited, svg:visited, .fa-5x:visited, a:visited  { color: $gray10; }
  .fas:active, svg:active, .fa-5x:active, a:active  { color: $gray10; }
}
