//@media screen and (min-width: 1080px) { #gallery { column-count: 3; } }
//@media screen and (max-width: 1080px) { #gallery { column-count: 2; } }
//@media screen and (max-width: 750px) { #gallery { column-count: 1; } }

.workCopy {
  width: 70vw;
  padding: 5vh 10vw 0 10vw;
  font-size: 1.7em;
}

#gallery {
  width: 100%;
  overflow-y: hidden;
  overflow-x: scroll;
  padding-bottom: 15px;
}
#gallery::-webkit-scrollbar-track {
  background-color: $transparent-black-med;
  padding: 5px 0;
  border-radius: 3px;
}
#gallery::-webkit-scrollbar {
  height: 12px;
  margin-top: 15px;
  width: 50vw;
  padding: 0 100px;
  opacity: 50%;
  border-radius: 3px;
}
#gallery::-webkit-scrollbar-thumb {
  background-color: $bluejade-dark;
  mix-blend-mode: difference;
  opacity: 50%;
  border-radius: 3px;
}

#galleryWrapper {
//  margin-left: calc(8vw - 30px);
  width: calc(100% + 75vw);
  height: 50vh;
  max-height: 550px;
}

figure.galleryCard {
  font-family: 'Raleway', Arial, sans-serif;
  color: #fff;
  position: relative;
  display: inline-block;
  overflow: hidden;
  margin: 10px 1% 10vh 1%;
  width: 300px;
  height: 48vh;
  max-height: 500px;
  color: #000000;
  text-align: center;
  cursor: pointer;
}
figure.galleryCard * {
  box-sizing: border-box;
  transition: all 0.6s ease;
}
figure.galleryCard img {
  opacity: 1;
  background-size: cover;
  transition: opacity 0.35s;
  object-fit: cover;
  object-position: 50% 0;
  height: 100%;
  width: 100%;
}
figure.galleryCard:after {
  background: $black;
  width: 100%;
  height: calc(100% + 1px);
  position: absolute;
  left: 0;
  bottom: -1px;
  content: '';
  opacity: 0.75;
  transform: skew(-45deg) scaleX(0);
  transition: all 0.3s ease-in-out;
}
figure.galleryCard figcaption {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  transform: translateY(-50%);
  z-index: 1;
}
figure.galleryCard h4,
figure.galleryCard p {
  margin: 0;
  width: 100%;
  opacity: 0;
  color: $white;
  text-shadow: 1px 1px 2px $gray80;
}
figure.galleryCard h4 {
  padding: 0 30px;
  display: inline-block;
  font-weight: 400;
  text-transform: uppercase;
}
figure.galleryCard p {
  padding: 0 50px;
  font-weight: 500;
}
figure.galleryCard a {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  z-index: 1;
}
figure.galleryCard:hover:after,
figure.galleryCard.hover:after {
  transform: skew(-45deg) scaleX(1);
  transition: all 400ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
figure.galleryCard:hover figcaption h4,
figure.galleryCard.hover figcaption h4,
figure.galleryCard:hover figcaption p,
figure.galleryCard.hover figcaption p {
  transform: translate3d(0%, 0%, 0);
  transition-delay: 0.2s;
}
figure.galleryCard:hover figcaption h4,
figure.galleryCard.hover figcaption h4 {
  opacity: 1;
}
figure.galleryCard:hover figcaption p,
figure.galleryCard.hover figcaption p {
  opacity: 0.7;
}

.modal-dialog { width: 80vw; }
.modal-body { height: 80vh; }
.modal-content {
//  background-image: url('/assets/images/textures/tweed.png');
//  background-repeat: repeat;
  background-color: $gray80;
  border: none;
  border-radius: 0;
}

.modal-scroll {
  height: 68vh;
  overflow-y: scroll;
  img {
    max-width: 80%;
    max-height: 50vh;
    object-fit: contain;
    margin: 30px;
  }
}

.modal-footer {
  border-top: none;
  p {
    text-align: left;
    color: $white;
    font-family: 'Raleway', 'Trebuchet', sans-serif;
  }
  button {
    background-color: $transparent;
    border: solid 1px $white;
    border-radius: 0;
    font-family: 'Raleway', 'Trebuchet', sans-serif;
    text-transform: uppercase;
    color: $white;
    transition: color 100ms linear, border 100ms linear;
  }
  button:hover {
    background-color: $transparent;
    color: $roarange;
    border: solid 1px $roarange;
    transition: color 100ms linear, border 100ms linear;
  }
}
