//Section 4
#footer {
  bottom: 0;
  margin-top: -5vh;
  padding-top: 2.5vh;
  height: 250px;
  font-family: Raleway, sans-serif;
  background-image: url('/assets/images/textures/pixel_weave_inv.png');
  color: $white;
  box-shadow: -1px -1px 5px $gray80;
  a { text-decoration: none; }

  h2 {
    color: $white;
    text-shadow: 1px 1px 1px $black;
  }
}

/*
.footerLeft {
//  float: left;
  width: 40vw;
  min-width: 312px;
  padding: 20px 0 0 3vw;
}

.footerRight {
  float: right;
  width: 60vw;
  min-width: 312px;
  margin-top: -25vh;
}
*/

.socialIcons {
  position: relative;
  vertical-align: middle;
  margin: 0 auto;
  width: 360px;
  padding-left: 30px;
  img {
    float: left;
    height: 45px;
//    max-height: 45px;
//    width: 8vw;
//    min-width: 30px;
//    max-width: 45px;
    margin: 2vh 2%;
  }

  img {
    filter: grayscale(70%);
    transition: filter 0.25s ease-in;
  }
  img:hover {
    filter: grayscale(0%);
    transition: filter 0.25s ease-in;
  }
}

#copyrightBar {
  height: 30px;
  background-color: $gray80;
  width: 100%;
  bottom: 0;
  padding: 7px 0 0 15px;
  color: $gray50;
  font-size: 8.5pt;
  font-family: Raleway, sans-serif;
  text-align: center;
}
