.navbar {
  z-index: 10;
  position: absolute;
  width: 50px;
  transition: width 0.5s ease-out, background-color 0.25s linear;
  background-color: $transparent-black-med;
  height: 100vh;
  border-radius: 0;
  .about { display: none; }
}

#navTooltips .activeAboutTooltips .navHover { margin-left: 0 !important; }

.tooltipClick {
  li:not(.secondary) { width: 195px !important; }
  .secondary a { width: 195px !important; }
}

.about {
  width: calc(80vw - 300px);
  height: 90vh;
  border-right: solid 0.5px $gray20;
  margin: 5vh 0 30px 90px;
  color: $white;
  font-family: 'Raleway', 'Trebuchet', sans-serif;
  font-size: calc(1vh + 1.1vw);
  img {
    height: 55vh;
    max-height: 600px;
    padding-bottom: 30px;
  }
  .hello {
    font-family: 'Covered By Your Grace', 'Raleway', sans-serif;
    font-size: 3em;
    vertical-align: bottom;
    margin-left: 30px;
  }
  p { width: 50vw; }
}

.aboutClose {
  position: absolute;
  top: 50vh;
  left: calc(80vw - 270px);
  color: $bluejade;
}
.aboutClose:hover { color: $white; }

.onepage-pagination:hover ~ .navbar, .navbar:hover {
  background-color: $transparent-black-dark;
  transition: all 0.25s linear;
  width: 200px;
}

.dotstyle.dotstyle-fillup { height: 0; }

.invisible { border: none; }

.secondary a { background-color: $white !important; }
.secondary a:hover { background-color: $transparent-white-med !important; }

#navTooltips {
  position: absolute;
  pointer-events: none;
  top: 31%;
  left: -120px;
  font-family: 'Raleway', 'Trebuchet', sans-serif;
  font-size: 1.2em;
  text-align: left;
  color: $white;
  text-transform: uppercase;
  text-shadow: 0 0 8px $black;
  transition: margin-left 0.1s ease-out;
  ul { padding-left: 15px; }
  li {
    margin: 6px 0 26px 0;
    list-style-type: none;
  }
}

.navHover {
  margin-left: 170px;
  transition: margin-left 0.1s ease-in;
}

.activeAbout {
  width: 80vw !important;
  transition: all 0.5s ease-in;
  background-color: $gray90 !important;
  .about { display: block; }
}
.activeAboutDots {
  left: calc(80vw - 200px) !important;
  transition: all 0.5s ease-out;
  li:not(.secondary) { width: 150px !important; }
  .secondary a { width: 140px !important; }
}
.activeAboutTooltips {
  left: calc(80vw - 150px) !important;
  transition: all 0.5s ease-out;
  margin-left: 0 !important;
}

.secondary {
  height: 10px !important;
  width: 10px !important;
  background-color: $white;
  border: solid 2px $white;
  border-radius: 50%;
  margin: 18px 0 40px 14px !important;
  transition: all 0.25s linear;
}
.secondary:hover {
  background-color: $transparent-white-med;
  transition: all 0.25s linear;
}

.secondary a {
  background-color: $transparent !important;
  border-radius: 0 !important;
  margin: -18px 0 0 -18px !important; //imp
  padding: 14px;
  height: 44px !important; //important
  width: 44px !important; //important
  box-shadow: none !important; //!important
}
.secondary a:hover {
  background-color: $transparent !important;
}
