<!DOCTYPE html>

<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="{{ site.lang }}">
<!--<![endif]-->

<head>
  {% include common/meta.html %}
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" type="text/css">
  <link href='{{ site.baseurl }}/css/home.css' rel="stylesheet" type="text/css">
  {% include common/libraries.html %}
</head>

<body>
    <nav id="nav">
      <span id="wordmark"><a href="/">Chris Barfuss</a></span>
      <ul>
        <a href="/work"><li>Work</li></a>
        <a href="/blog"><li>Blog</li></a>
        <a class="bottomScroll"><li>Contact</li></a>
      </ul>
    </nav>

    <div id="wordmarkMiniBox">
      <div id="wordmarkMini">
        <span>CB</span>
      </div>
    </div>

<!--------------------------- Start Body ---------------------------------------->

<div class="contentWrapper">
  <div class="blogFrame">

<!-- Tags Column -->
    <div class="tagsColumn">
      <h4><i class="filterIcon fas fa-filter"></i>&nbsp; &nbsp; Filter by Tag:</h4>
      <p>
        <span class="tags inline reset" onclick="
          $(this).siblings('span').removeClass('faded');
          $('#archives').children().removeClass('inactive');
          $(this).removeClass('faded');
          "><strong>Show all</strong>
        </span>
        {% for tag in site.tags %}
        <span class="tags inline" onclick="
          $('.{{ tag[0] }}').siblings('article').addClass('inactive');
          $('.{{ tag[0] }}').removeClass('inactive');
          $(this).siblings('span').addClass('faded');
          $('.reset').removeClass('faded');
          $(this).removeClass('faded');
        ">{{ tag[0] }}
        </span>
        {% endfor %}
      </p>
    </div>

<!-- Most Recent Post -->
    <div id="recent">
      <h3>Most Recent Post:</h3>
      {% for post in site.posts limit:1  %}
        {% if forloop.last %}
          <h4><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h4>
          <p>
            Published: <strong>{{ post.date | date: '%B %d, %Y' }}</strong><br />
            Tags:
              <span class="tags inline">
                {{ post.tags[0] }}
              </span>
              <span class="tags inline">
                {{ post.tags[1] }}
              </span>
              <span class="tags inline">
                {{ post.tags[2] }}
              </span>
            <br />
            {{ post.excerpt }}
            <br />
            <a href="{{ post.url | prepend: site.baseurl }}" class="rightLink"><i class="fas fa-long-arrow-alt-right"></i>&nbsp; Read This</a>
          </p><br />
        {% endif %}
      {% endfor %}
      </div>

<!-- All Posts -->
    <div id="archives">
<!-- Activate this if you want to re-enable categories (this will break the tag filter) -->
<!--      {% for category in site.categories %}
        <div class="archive-group">
          {% capture category_name %}{{ category | first }}{% endcapture %}
          <div id="#{{ category_name | slugize }}"></div>
          <p></p>

          <div class="{{ category_name }}">
            <h3 class="category-head">{{ category_name }}</h3>
            <a name="{{ category_name | slugize }}"></a>
            -->
            {% for post in site.categories[category_name] %}
            <article class="archive-item {{ post.tags [0] }} {{ post.tags [1] }} {{ post.tags [2] }}">
              <h4><a href="{{ site.baseurl }}{{ post.url }}">{{post.title}}</a></h4>
              <p>
                Published: <strong>{{ post.date | date: '%B %d, %Y' }}</strong><br />
                Tags:
                  <span class="tags inline">
                    {{ post.tags[0] }}
                  </span>
                  <span class="tags inline">
                    {{ post.tags[1] }}
                  </span>
                  <span class="tags inline">
                    {{ post.tags[2] }}
                  </span><br /><br />
                {{ post.excerpt }}
              </p>
            </article>
            {% endfor %}
          </div>
        </div>
      {% endfor %}
    </div>

  </div>
</div>

<!------------------------- Section 4 ----------------------------------------->
  <a name="section4"></a>
  <div id="section4" class="par" data-name="social" align="center">
<!--    <div class="footerLeft"> -->
      <h2>Let's Chat.</h2>
      <p><a href="mailto:chrisbarfuss@live.com">chrisbarfuss@live.com</a>&nbsp; | &nbsp;
      <a href="tel:12083125083">208.312.5083</a></p>
<!--    </div> -->

<!--    <div class="footerRight"> -->
      <div class="socialIcons" align="center">
        <a class="icon" href="https://www.facebook.com/chrisbarfuss22"><img src="/assets/images/ui/social/long_shadow/Facebook.png"></a>
        <a class="icon" href="https://www.facebook.com/chrisbarfuss22"><!--<img src="/assets/images/ui/social/round_shade/facebook-Icon.png"></a> -->
        <a class="icon" href="https://twitter.com/_thatdesignguy"><!--<img src="/assets/images/ui/social/round_shade/Twitter-Icon.png"></a> -->
        <a class="icon" href="https://twitter.com/_thatdesignguy"><img src="/assets/images/ui/social/long_shadow/Twitter.png"></a>
        <a class="icon" href="https://www.linkedin.com/in/chris-barfuss-14541267/"><!--<img src="/assets/images/ui/social/round_shade/Linkedin.png"></a> -->
        <a class="icon" href="https://www.linkedin.com/in/chris-barfuss-14541267/"><img src="/assets/images/ui/social/long_shadow/Linkedin.png"></a>
        <span>
          <a class="icon" href="https://www.instagram.com/_thatdesignguy/"><!--<img src="/assets/images/ui/social/round_shade/Instagram-Icon.png"></a> -->
          <a class="icon" href="https://www.instagram.com/_thatdesignguy/"><img src="/assets/images/ui/social/long_shadow/Instagram.png"></a>
          <a class="icon" href="https://github.com/chrisb-design"><!--<img src="/assets/images/ui/social/round_shade/Github-Icon.png"></a> -->
          <a class="icon" href="https://github.com/chrisb-design"><img src="/assets/images/ui/social/long_shadow/Github.png"></a>
        </span>
      </div>
<!--    </div> -->
  </div>

  <div id="copyrightBar">
    <p>Copyright &copy; 2018, Chris Barfuss. All Rights Reserved.</p>
  </div>
<!----------------------- End Section 4 --------------------------------------->

</body>
