<!DOCTYPE html>

<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="{{ site.lang }}">
<!--<![endif]-->

<head>
  {% include common/meta.html %}
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" type="text/css">
  <link href='{{ site.baseurl }}/css/home.css' rel="stylesheet" type="text/css">
  {% include common/libraries.html %}

  <title>Chris Barfuss - Blog</title>
  <meta name="author" content="Chris Barfuss">
  <meta name="description" content="Graphic Designer, Front-End Developer, and Marketing Specialist">
  <meta name="keywords" content="graphic design, marketing, web developer, advertising, branding, idaho">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
  <div id="wordmarkMiniBox">
    <div id="wordmarkMini">
      <span><img src="/assets/images/logo/barefoot_icon_inv.svg"></span>
    </div>
  </div>

  <nav id="nav">
    <span id="wordmark"><a href="/">Chris Barfuss</a></span>&nbsp;|&nbsp;<a href="/blog">BLOG</a>
    <br />

    <span class="tags inline filterButton"><i class="filterIcon fas fa-filter"></i>&nbsp; &nbsp; filter by category</span>
  </nav>

<!--------------------------- Start Body ---------------------------------------->

<div class="contentWrapper">
  <div class="contentFrame">

<!-- Tags Column -->
    <div class="tagsColumn">
      <p>
        <span class="tags inline tagsReset" onclick="
          $(this).siblings('span').removeClass('faded');
          $('#archives').children().removeClass('inactive');
          $(this).removeClass('faded');
          "><strong>Show all</strong>
        </span>
        {% for tag in site.tags %}
        <span class="tags inline" onclick="
          $('.{{ tag[0] }}').siblings('article').addClass('inactive');
          $('.{{ tag[0] }}').removeClass('inactive');
          $(this).siblings('span').addClass('faded');
          $('.reset').removeClass('faded');
          $(this).removeClass('faded');
        ">{{ tag[0] }}
        </span>
        {% endfor %}
      </p>
    </div>

<!-- Most Recent Post -->
    {% include partials/recent.html %} <!-- currently disabled in the partial -->

<!-- All Posts -->
    <div id="archives">
<!-- Activate this if you want to re-enable categories (this will break the tag filter) -->
<!--      {% for category in site.categories %}
        <div class="archive-group">
          {% capture category_name %}{{ category | first }}{% endcapture %}
          <div id="#{{ category_name | slugize }}"></div>
          <p></p>

          <div class="{{ category_name }}">
            <h3 class="category-head">{{ category_name }}</h3>
            <a name="{{ category_name | slugize }}"></a>
            -->
            {% for post in site.categories[category_name] %}
            <article class="archive-item {{ post.tags [0] }} {{ post.tags [1] }} {{ post.tags [2] }}">
              <h4><a href="{{ site.baseurl }}{{ post.url }}">{{post.title}}</a></h4>
              <p>
                Published: <strong>{{ post.date | date: '%B %d, %Y' }}</strong><br />
                Tags:
                  <span class="tags inline">
                    {{ post.tags[0] }}
                  </span>
                  <span class="tags inline">
                    {{ post.tags[1] }}
                  </span>
                  <span class="tags inline">
                    {{ post.tags[2] }}
                  </span><br /><br />
                {{ post.excerpt }}
                <br />
              </p>
            </article>
            {% endfor %}
          </div>
        </div>
      {% endfor %}
    </div>

  </div>
</div>

{% include partials/footer.html %}

</body>
