<!DOCTYPE html>

<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="{{ site.lang }}">
<!--<![endif]-->

<head>
  {% include common/meta.html %}
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" type="text/css">
  <link href='{{ site.baseurl }}/css/home.css' rel="stylesheet" type="text/css">
  {% include common/libraries.html %}

  <!-- One Page Scroll -->
  <script defer src="/assets/javascripts/onePage.js"></script>
  <script src="/assets/javascripts/jquery.onepage-scroll.js"></script>
  <script src="/assets/javascripts/dots.js"></script>

  <title>Chris Barfuss - Home</title>
  <meta name="author" content="Chris Barfuss">
  <meta name="description" content="Freelance Graphic Designer, Front-End Developer, and Marketing Specialist">
  <meta name="keywords" content="graphic design, marketing, web developer, advertising, freelance, idaho">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<nav>
  {% include partials/nav.html %}
</nav>

<body class="locked">
  <div class="main">
<!-- Section 1 -->
      <section data-index="1" class="section1"><a name="1"></a>
        {% include partials/hero.html %}
      </section>

<!-- Section 2 -->
<!--      <section data-index="2" class="section2"><a name="2"></a>
        {% include partials/services.html %}
      </section>
-->
<!-- Section 3 -->
      <section data-index="3" class="section3"><a name="3"></a>
<!--
        <p class="workCopy">
          I design, I code, I analyze&mdash;and above all else, I build solutions. Whether you need
          print layout, advertising, branding, websites, or just a sounding
          board for ideation and planning, I'm committed to making sure you
          connect to your audience.
        </p>
-->
        <!-- <h3 class="centered">Work Samples</h3> -->
        {% include partials/work.html %}
      </section>

<!-- Section 4 -->
      <section data-index="4" class="section4"><a name="4"></a>
        <p class="brandCopy">
          A small sample of the many brands and businesses I've proudly served&mdash;
          from ideation to creation or anywhere in between.
        </p>
        <!-- <a href="#4"><button class="contactButton">Let's Chat</button></a> -->

        {% include partials/brands.html %}
      </section>

<!-- Section 5 -->
      <section data-index="5" class="section5"><a name="5"></a>
        {% include partials/reviews.html %}
      </section>

<!-- Section 6 -->
      <section data-index="6" class="section6"><a name="6"></a>
        {% include partials/contact.html %}
      </section>

    </div>
</body>
{% include modals/workModals.html %}
{% include modals/contactModal.html %}
{% include partials/loadscreen.html %}

<script type="text/javascript">
  $('#loadscreen').delay('3000').fadeOut('1000');
</script>
</html>
