<!DOCTYPE html>

<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="{{ site.lang }}">
<!--<![endif]-->

<head>
  {% include common/meta.html %}
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" type="text/css">
  <link href='{{ site.baseurl }}/css/home.css' rel="stylesheet" type="text/css">
  {% include common/libraries.html %}

  <!-- One Page Scroll -->
  <script defer src="/assets/javascripts/onePage.js"></script>
  <script src="/assets/javascripts/jquery.onepage-scroll.js"></script>
  <script src="/assets/javascripts/dots.js"></script>
</head>

<body class="locked">
  {% include partials/nav.html %}

  <div class="main">
<!-- Section 1 -->
      <section data-index="1" class="section1"><a name="1"></a>
        {% include partials/hero.html %}
      </section>

<!-- Section 2 -->
      <section data-index="2" class="section2"><a name="2"></a>
        <p class="workCopy">
          This is an introductory paragraph briefly offering services such as
          print layout, advertising, branding, and maybe some other interesting
          tidbits. Just a couple sentences, nothing much.
        </p>

        {% include partials/work.html %}
      </section>

<!-- Section 3 -->
      <section data-index="3" class="section3"><a name="3"></a>
        <p class="brandCopy">
          A small sample of the many brands and businesses I've proudly served&mdash;
          from ideation to creation or anywhere in between.
        </p>
        <!-- <a href="#4"><button class="contactButton">Let's Chat</button></a> -->

        {% include partials/brands.html %}
      </section>

<!-- Section 4 -->
      <section data-index="4" class="section4"><a name="4"></a>
        {% include partials/contact.html %}
      </section>

    </div>
</body>

<!-- Contact Modal
<div class="modal fade" id="contact" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        Contact content goes here.
        <br />
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      <iframe id="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2939.1576445854525!2d-114.47293938413438!3d42.55194537917449!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x54aca3a07e382b7b%3A0x82c251b1bf5008e2!2sPositive+Action%2C+Inc.!5e0!3m2!1sen!2sus!4v1523653964262" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div> -->
</html>
