<!DOCTYPE html>

<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="{{ site.lang }}">
<!--<![endif]-->

<head>
  {% include common/meta.html %}
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" type="text/css">
  <link href='{{ site.baseurl }}/css/home.css' rel="stylesheet" type="text/css">
  {% include common/libraries.html %}
</head>

<body>

  <nav id="nav">
    Chris Barfuss
    <ul>
      <li>Blog</li>
      <li>Gallery</li>
      <li>Contact</li>
    </ul>
  </nav>

<div class="vNav">
  <ul class="vNav">
    <li>
       <a href="#section0" class="active">
           <div class="label">Top</div>
       </a>
    </li>
    <li>
      <a href="#section1">
        <div class="label">Bio</div>
      </a>
    </li>
    <li>
      <a href="#section2">
        <div class="label">Work</div>
      </a>
    </li>
    <li>
      <a href="#section3">
        <div class="label">Blog</div>
      </a>
    </li>
    <li>
      <a href="#section4">
        <div class="label">A Really Long One To Test Spacing</div>
      </a>
    </li>
  </ul>
</div>

<!-------------------------------- Hero --------------------------------------->
  <a name="section0"></a>
  <div id="section0" class="par" data-name="intro">

    {% include common/notices.html %}

    <div id="hero" class="carousel slide" data-ride="carousel">

      <!-- Indicators -->
      <!--
      <ol class="carousel-indicators">
        <li data-target="#hero" data-slide-to="0" class="active"></li>
        <li data-target="#hero" data-slide-to="1"></li>
        <li data-target="#hero" data-slide-to="2"></li>
      </ol>
      -->

      <!-- Wrapper for slides -->
      <div class="carousel-inner">

        <p class="heroCaption">Need a <span class="captionQuestion">?</span><span class="blankSpace">_____</span><br /><br />I'm Your Guy.</p>

        <div class="item active">
          <p class="heroVariable">Graphic Designer</p>
          <img src="assets/images/img1.jpg" alt="#">
        </div>

        <div class="item">
          <p class="heroVariable">Front End Developer</p>
          <img src="assets/images/img2.jpg" alt="#">
        </div>

        <div class="item">
          <p class="heroVariable">Marketing Specialist</p>
          <img src="assets/images/img3.jpg" alt="#">
        </div>
      </div>

      <!-- Left and right controls -->
      <a class="left carousel-control" href="#hero" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#hero" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>

    <a id="scrollDown" class="animated bounce" title="{{ site.data.i18n[site.lang].more }}" href="#section1"><i class="fas fa-angle-down fa-5x"></i></a>
  </div>
<!------------------------------ End Hero ------------------------------------->

<!----------------------------- Section 1 ------------------------------------->
  <a name="section1"></a>
  <div id="section1" class="par" data-name="bio">
    <div id="bioAnimate">
      <img src="/assets/images/photos/casual.jpg" class="portrait animated">
      <div class="bio animated">
        <h2>Hi, I'm Chris.</h2><br />
        <p>I'm a Graphic Designer, Front-End Web Developer, and Marketing Specialist.
        There will be some other words here, but for now this is what you get.
        <span class="lipsum"><br />Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam fermentum egestas egestas. Nunc sagittis commodo vulputate. Curabitur condimentum euismod pharetra. Sed ut risus ut nisl tristique elementum. Ut sagittis nisi luctus commodo consectetur. Proin luctus, arcu eu facilisis imperdiet, libero quam elementum ex, quis suscipit est velit a ligula.</span>
        </p>
      </div>
    </div>
  </div>
<!----------------------- End Section 1 --------------------------------------->

<!----------------------------- Section 2 ------------------------------------->
  <a name="section2"></a>
  <div id="section2" class="par" data-name="services">
    <div id="section2Clipping">
      <div class="section2Content">
        <h4 class="centered">Brands I've Worked With:</h4>
        <div class="photoBannerContainer">
          <!-- Each image is 350px by 233px -->
          <div class="photoBanner">
          	<img class="first" src="/assets/images/textures/funky-lines.png" alt="" />
          	<img src="#" alt="" />
          	<img src="/assets/images/textures/dust_scratches.png" alt="" />
          	<img src="/assets/images/textures/ep_naturalblack.png" alt="" />
          	<img src="/assets/images/textures/topography.png" alt="" />
          	<img src="/assets/images/textures/tweed.png" alt="" />
            <img src="/assets/images/textures/dust_scratches.png" alt="" />
          	<img src="/assets/images/textures/ep_naturalblack.png" alt="" />
          	<img src="/assets/images/textures/topography.png" alt="" />
            <img src="/assets/images/textures/dust_scratches.png" alt="" />
          	<img src="/assets/images/textures/ep_naturalblack.png" alt="" />
            <img src="/assets/images/textures/topography.png" alt="" />
            <img src="/assets/images/textures/dust_scratches.png" alt="" />
          	<img src="/assets/images/textures/ep_naturalblack.png" alt="" />
            <img src="/assets/images/textures/dust_scratches.png" alt="" />
          	<img src="/assets/images/textures/ep_naturalblack.png" alt="" />
          	<img src="/assets/images/textures/topography.png" alt="" />
          	<img src="/assets/images/textures/tweed.png" alt="" />
            <img src="/assets/images/textures/dust_scratches.png" alt="" />
            <img src="/assets/images/textures/dust_scratches.png" alt="" />
          	<img src="/assets/images/textures/ep_naturalblack.png" alt="" />
          	<img src="/assets/images/textures/topography.png" alt="" />
          	<img src="/assets/images/textures/tweed.png" alt="" />
            <img src="/assets/images/textures/dust_scratches.png" alt="" />
          	<img src="/assets/images/textures/ep_naturalblack.png" alt="" />
          	<img src="/assets/images/textures/topography.png" alt="" />
            <img src="/assets/images/textures/dust_scratches.png" alt="" />
            <img src="/assets/images/textures/dust_scratches.png" alt="" />
            <img src="/assets/images/textures/ep_naturalblack.png" alt="" />
            <img src="/assets/images/textures/topography.png" alt="" />
            <img src="/assets/images/textures/dust_scratches.png" alt="" />
          </div>
          <div class="photoBannerFrameBefore">[</div>
          <div class="photoBannerFrameAfter">]</div>
        </div>
        <p>Content!
        <span class="lipsum"><span class="lipsum"><br />Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam fermentum egestas egestas. Nunc sagittis commodo vulputate. Curabitur condimentum euismod pharetra. Sed ut risus ut nisl tristique elementum. Ut sagittis nisi luctus commodo consectetur. Proin luctus, arcu eu facilisis imperdiet, libero quam elementum ex, quis suscipit est velit a ligula. Nunc tristique, lacus ut mollis tristique, nunc leo condimentum quam, ut maximus ex ligula quis metus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
        </span></p>
        <a href="#" class="rightLink"><i class="fas fa-long-arrow-alt-right"></i>&nbsp; View Work Samples</a>
      </div>
    </div>
  </div>
<!----------------------- End Section 2 --------------------------------------->

<!------------------------- Section 3 ----------------------------------------->
  <a name="section3"></a>
  <div id="section3" class="par centered" data-name="blog">
    <h1><a href="#">View Blog</a></h1><br />
    <h4 class="sans">This is where my stray thoughts go: A melting <br />
      pot of focused concepts and tangential ideas, <br />
      of professional tips and ruminations on <a href="https://coppermind.net/wiki/Cosmere">the Cosmere</a>.
    </h4>
  </div>
<!----------------------- End Section 3 --------------------------------------->

<!------------------------- Section 4 ----------------------------------------->
  <a name="section4"></a>
  <div id="section4" class="par" data-name="social">
    Section 4 (Social)
  </div>
<!----------------------- End Section 4 --------------------------------------->

</body>
</html>
