<!DOCTYPE html>

<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="{{ site.lang }}">
<!--<![endif]-->

<head>
  {% include common/meta.html %}
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" type="text/css">
  <link href='{{ site.baseurl }}/css/home.css' rel="stylesheet" type="text/css">
  {% include common/libraries.html %}

  <title>Chris Barfuss - Blog</title>
  <meta name="author" content="Chris Barfuss">
  <meta name="description" content="Freelance Graphic Designer, Front-End Developer, and Marketing Specialist">
  <meta name="keywords" content="graphic design, marketing, web developer, advertising, freelance, idaho">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
  <div id="wordmarkMiniBox">
    <div id="wordmarkMini">
      <span><img src="/assets/images/logo/barefoot_icon_inv.svg"></span>
    </div>
  </div>

  <nav id="nav">
    <span id="wordmark"><a href="/">Chris Barfuss</a></span>&nbsp; | &nbsp;
    <a href="/blog">BLOG</a>
  </nav>

<!--------------------------- Start Body ---------------------------------------->

  <div class="articleWrapper">
    <div class="article">
      <h2 class="centered">{{ page.title }}</h2>
      <br />
      <p class="noIndent">
        <strong>Published {{ page.date | date: '%B %d, %Y' }}</strong><br />
        Tags:
          <span class="tags inline">
            {{ page.tags[0] }}
          </span>
          <span class="tags inline">
            {{ page.tags[1] }}
          </span>
          <span class="tags inline">
            {{ page.tags[2] }}
          </span>
      </p><br />
      {{ content }}
    </div>
  </div>

  <div id="footer" align="center">
<!--    <div class="footerLeft"> -->
    <h2>Let's Chat.</h2>
    <p><a href="mailto:chrisbarfuss@live.com">chrisbarfuss@live.com</a>&nbsp; | &nbsp;
    <a href="tel:12083125083">208.312.5083</a></p>
<!--    </div> -->

<!--    <div class="footerRight"> -->
    <div class="socialIcons" align="center">
      <a href="https://www.facebook.com/chrisbarfuss22"><!--<img src="/assets/images/ui/social/round_shade/facebook-Icon.png"></a> -->
      <a href="https://www.facebook.com/chrisbarfuss22"><img src="/assets/images/ui/social/long_shadow/Facebook.png"></a>
      <a href="https://twitter.com/_thatdesignguy"><!--<img src="/assets/images/ui/social/round_shade/Twitter-Icon.png"></a> -->
      <a href="https://twitter.com/_thatdesignguy"><img src="/assets/images/ui/social/long_shadow/Twitter.png"></a>
      <a href="https://www.linkedin.com/in/chris-barfuss-14541267/"><!--<img src="/assets/images/ui/social/round_shade/Linkedin.png"></a> -->
      <a href="https://www.linkedin.com/in/chris-barfuss-14541267/"><img src="/assets/images/ui/social/long_shadow/Linkedin.png"></a>
      <span>
        <a href="https://www.instagram.com/_thatdesignguy/"><!--<img src="/assets/images/ui/social/round_shade/Instagram-Icon.png"></a> -->
        <a href="https://www.instagram.com/_thatdesignguy/"><img src="/assets/images/ui/social/long_shadow/Instagram.png"></a>
        <a href="https://github.com/chrisb-design"><!--<img src="/assets/images/ui/social/round_shade/Github-Icon.png"></a> -->
        <a href="https://github.com/chrisb-design"><img src="/assets/images/ui/social/long_shadow/Github.png"></a>
      </span>
    </div>
<!--    </div> -->
  </div>

  <div id="copyrightBar">
    <p>Copyright &copy; 2018, Chris Barfuss. All Rights Reserved.</p>
  </div>

</body>
