<!DOCTYPE html>

<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="{{ site.lang }}">
<!--<![endif]-->

<head>
  {% include common/meta.html %}
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" type="text/css">
  <link href='{{ site.baseurl }}/css/home.css' rel="stylesheet" type="text/css">
  {% include common/libraries.html %}
</head>

<body>
  <div class="resources">
    <nav id="nav">
      <span id="wordmark"><a href="/">Chris Barfuss</a></span>
      <ul>
        <a href="/work"><li>Work</li></a>
        <a href="/blog"><li>Blog</li></a>
        <a class="bottomScroll"><li>Contact</li></a>
      </ul>
    </nav>

    <div id="wordmarkMiniBox">
      <div id="wordmarkMini">
        <span>CB</span>
      </div>
    </div>

    <div class="headWrapper">
      <h1>Toolkit and Resources</h1>
      <img src="/assets/images/photos/tools1.jpg">
    </div>


<!-- Stock Assets -->
    <div class="resourceBox">
      <table class="resourcePanel">
        <th colspan="2"><h3>Stock Assets</h3></th>
        <tr>
          <td><a href="www.pexels.com">Pexels</a></td>
          <td>Free stock imagery with CC0 license</td>
        </tr>
        <tr>
          <td><a href="www.textures.com">Textures.com</a></td>
          <td>Free textures, both man-made and natural</td>
        </tr>
        <tr>
          <td><a href="https://www.toptal.com/designers/subtlepatterns/">Subtle Patterns</td>
          <td>Free repeatable patterns and textures</td>
        </tr>
      </table>

<!-- Typographic Assets -->
      <table class="resourcePanel">
        <th colspan="2"><h3>Typographic Assets</h3></th>
        <tr>
          <td><a href="https://fonts.google.com/">Google Fonts</a></td>
          <td>Free font library for embed or direct link</td>
        </tr>
        <tr>
          <td><a href="https://www.fontsquirrel.com/">FontSquirrel</a></td>
          <td>woff generator, font identifier, and some free fonts</td>
        </tr>
        <tr>
          <td>Creative Fabrica</td>
          <td>Description</td>
        </tr>
        <tr>
          <td>Title</td>
          <td>Description</td>
        </tr>
      </table>

<!--  Social Media Marketing -->
      <table class="resourcePanel">
        <th colspan="2"><h3>Social Media Marketing</h3></th>
        <tr>
          <td>Hootsuite</td>
          <td>Description</td>
        </tr>
        <tr>
          <td>Mailchimp</td>
          <td>Description</td>
        </tr>
        <tr>
          <td>Title</td>
          <td>Description</td>
        </tr>
      </table>

<!-- Graphic Designer Toolkit -->
      <table class="resourcePanel">
        <th colspan="2"><h3>Graphic Designer Toolkit</h3></th>
        <tr>
          <td>Title</td>
          <td>Description</td>
        </tr>
      </table>

<!-- Web Designer Toolkit -->
      <table class="resourcePanel">
        <th colspan="2"><h3>Web Designer Toolkit</h3></th>
        <tr>
          <td><a href="https://atom.io/">Atom Text Editor</a></td>
          <td>Best available full-feature text editor</td>
        </tr>
        <tr>
          <td><a href="http://jsfiddle.net/">JSfiddle</a></td>
          <td>Test and share snippets in a quickerly fashion</td>
        </tr>
        <tr>
          <td><a href="http://www.responsinator.com/">Responsinator</a></td>
          <td>Preview your website on various screen sizes</td>
        </tr>
        <tr>
          <td><a href="https://www.invisionapp.com/">InVision</a></td>
          <td>A collaborative UI environment</td>
        </tr>
        <tr>
          <td><a href="https://readable.io/">Readability Calculator</a></td>
          <td>Accessibility scoring for online content</td>
        </tr>
        <tr>
          <td><a href="https://no-css.com">No CSS</a></td>
          <td>View underlying site structure sans CSS</td>
        </tr>
        <tr>
          <td><a href="http://exportkit.com/">Export Kit</a></td>
          <td>Convert PSD mockup to source code</td>
        </tr>
        <tr>
          <td><a href="https://stackoverflow.com/">StackOverflow</a></td>
          <td>A development troubleshooting community</td>
        </tr>
        <tr>
          <td><a href="http://bennettfeely.com/clippy/">Clippy</a></td>
          <td>CSS clip-path generator</td>
        </tr>
        <tr>
          <td>Title</td>
          <td>Description</td>
        </tr>
      </table>

<!-- Code Snippets & Repos -->
      <table class="resourcePanel">
        <th colspan="2"><h3>Code Snippets &amp; Repos</h3></th>
        <tr>
          <td><a href="https://fontawesome.com/">FontAwesome</a></td>
          <td>Open source Iconography for upload or direct link</td>
        </tr>
        <tr>
          <td><a href="https://saeedalipoor.github.io/icono/">Icono</a></td>
          <td>A lightweight alternative to  FontAwesome</td>
        </tr>
        <tr>
          <td><a href="http://www.wifeo.com/social-networks-tab-generator.php">Social Tab Generator</a></td>
          <td>Pure CSS Social Media icon mockups</td>
        </tr>
        <tr>
          <td><a href="http://csstooltip.com/">CSS Tooltip</a></td>
          <td>Immediate output preview + Auto CSS generation</td>
        </tr>
        <tr>
          <td><a href="http://www.wifeo.com/code/">Wifeo</a></td>
          <td>A Web Dev company with several UI design ideas</td>
        </tr>
        <tr>
          <td><a href="https://daneden.github.io/animate.css/">Animate CSS</a></td>
          <td>Just-add-ater CSS animation for upload or direct link</td>
        </tr>
        <tr>
          <td><a href="https://www.toptal.com/designers/htmlarrows/">ASCII Cheatsheet</a></td>
          <td>A cheat sheet with all the codes for all the things</td>
        </tr>
        <tr>
          <td><a href="http://uber.github.io/react-vis/examples/showcases/plots">React-Vis</a></td>
          <td>HTML + CSS Charts and Graphs</td>
        </tr>
        <tr>
          <td>Title</td>
          <td>Description</td>
        </tr>
      </table>

<!--  Web Dev Environments -->
      <table class="resourcePanel">
        <th colspan="2"><h3>Web Dev Environments</h3></th>
        <tr>
          <td><a href="https://www.ruby-lang.org/en/">Ruby</a></td>
          <td>Description</td>
        </tr>
        <tr>
          <td><a href="https://wordpress.com/create/?utm_source=bing&utm_campaign=Bing_WPcom_Search_Brand_Desktop_US_en&utm_medium=cpc&keyword=wordpress&creative=76828416813995&campaignid=282011443&adgroupid=1229254087061828&matchtype=e&device=c&network=o&targetid=kwd-76828449486823:loc-190&locationid=103318&msclkid=6297ca5d5d2e1949e467911b11539f3a">WordPress</a></td>
          <td>Description</td>
        </tr>
        <tr>
          <td><a href="https://jekyllrb.com/">Jekyll</a></td>
          <td>Description</td>
        </tr>
        <tr>
          <td><a href="https://middlemanapp.com/">Middleman</a></td>
          <td>Description</td>
        </tr>
        <tr>
          <td><a href="https://www.gatsbyjs.org/">Gatsby</a></td>
          <td>Description</td>
        </tr>
        <tr>
          <td><a href="http://gohugo.io/">Hugo</a></td>
          <td>Description</td>
        </tr>
        <tr>
          <td><a href="https://forestry.io/">Forestry</a></td>
          <td>A static CMS for Jekyll and Hugo</td>
        </tr>
      </table>

<!-- Color Tools -->
      <table class="resourcePanel">
        <th colspan="2"><h3>Color Tools</h3></th>
        <tr>
          <td><a href="http://www.colourlovers.com/palettes">Colourlovers</td>
          <td>A library of user-generated color palettes</td>
        </tr>
        <tr>
          <td><a href="http://www.convertacolor.com">Convert-A-Color</a></td>
          <td>Punch in any color code, get all the outputs</td>
        </tr>
        <tr>
          <td><a href="https://chrome.google.com/webstore/detail/eye-dropper/hmdcmlfkchdmnmnmheododdhjedfccka?hl=en">Chrome Eyedropper Tool</a></td>
          <td>A color picker plugin with multiple coded outputs</td>
        </tr>
        <tr>
          <td><a href="https://css-tricks.com/examples/HSLaExplorer/">HSLA Explorer</a></td>
          <td>See all the shades of all the colors (in HSLA)</td>
        </tr>
        <tr>
          <td><a href="http://chir.ag/projects/name-that-color">Name That Color</a></td>
          <td>Punch in a hex color, get the CSS name. Fun stuff.</td>
        </tr>
        <tr>
          <td>Title</td>
          <td>Description</td>
        </tr>
      </table>

<!-- Learning Resources -->
      <table class="resourcePanel">
        <th colspan="2"><h3>Learning Resources</h3></th>
        <tr>
          <td><a href="https://www.codecademy.com/">CodeAcademy</a></td>
          <td>Description</td>
        </tr>
        <tr>
          <td><a href="https://guides.github.com/pdfs/markdown-cheatsheet-online.pdf">Markdown Cheatsheet</a></td>
          <td>A quick reference guide to Markdown syntax</td>
        </tr>
      </table>
    </div>
  </div>

  <!------------------------- Section 4 ----------------------------------------->
    <a name="section4"></a>
    <div id="section4" class="par" data-name="social" align="center">
  <!--    <div class="footerLeft"> -->
        <h2>Let's Chat.</h2>
        <p><a href="mailto:chrisbarfuss@live.com">chrisbarfuss@live.com</a>&nbsp; | &nbsp;
        <a href="tel:12083125083">208.312.5083</a></p>
  <!--    </div> -->

  <!--    <div class="footerRight"> -->
        <div class="socialIcons" align="center">
          <a href="https://www.facebook.com/chrisbarfuss22"><!--<img src="/assets/images/ui/social/round_shade/facebook-Icon.png"></a> -->
          <a href="https://www.facebook.com/chrisbarfuss22"><img src="/assets/images/ui/social/long_shadow/Facebook.png"></a>
          <a href="https://twitter.com/_thatdesignguy"><!--<img src="/assets/images/ui/social/round_shade/Twitter-Icon.png"></a> -->
          <a href="https://twitter.com/_thatdesignguy"><img src="/assets/images/ui/social/long_shadow/Twitter.png"></a>
          <a href="https://www.linkedin.com/in/chris-barfuss-14541267/"><!--<img src="/assets/images/ui/social/round_shade/Linkedin.png"></a> -->
          <a href="https://www.linkedin.com/in/chris-barfuss-14541267/"><img src="/assets/images/ui/social/long_shadow/Linkedin.png"></a>
          <span>
            <a href="https://www.instagram.com/_thatdesignguy/"><!--<img src="/assets/images/ui/social/round_shade/Instagram-Icon.png"></a> -->
            <a href="https://www.instagram.com/_thatdesignguy/"><img src="/assets/images/ui/social/long_shadow/Instagram.png"></a>
            <a href="https://github.com/chrisb-design"><!--<img src="/assets/images/ui/social/round_shade/Github-Icon.png"></a> -->
            <a href="https://github.com/chrisb-design"><img src="/assets/images/ui/social/long_shadow/Github.png"></a>
          </span>
        </div>
  <!--    </div> -->
    </div>

    <div id="copyrightBar">
      <p>Copyright &copy; 2018, Chris Barfuss. All Rights Reserved.</p>
    </div>
  <!----------------------- End Section 4 --------------------------------------->

</body>
