<!DOCTYPE html>

<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="{{ site.lang }}">
<!--<![endif]-->

<head>
  {% include common/meta.html %}
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" type="text/css">
  <link href='{{ site.baseurl }}/css/home.css' rel="stylesheet" type="text/css">
  {% include common/libraries.html %}

  <title>Chris Barfuss - Toolkit</title>
  <meta name="robots" content="noindex">
  <meta name="author" content="Chris Barfuss">
  <meta name="description" content="This page is a secret. Shhhhhhhhhh.">
  <meta name="keywords" content="chris, barfuss, toolkit">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
  <div id="wordmarkMiniBox">
    <div id="wordmarkMini">
      <span><img src="/assets/images/logo/barefoot_icon_inv.svg"></span>
    </div>
  </div>

  <nav id="nav">
    <span id="wordmark"><a href="/" class="nobreak">Chris Barfuss</a></span>&nbsp;|&nbsp;TOOLKIT
  </nav>

<!--------------------------- Start Body ---------------------------------------->

  <div class="contentWrapper">
    <div class="contentFrame">

      <div class="toolFilter">
        Filter:
        <ul>
          <li class="toolFilterIcon active" id="toolAll">
            <i class="fas fa-low-vision"></i>
            <span class="filterTooltip">Show All</span>
          </li>
          <li class="toolFilterIcon inactive" id="toolDesign">
            <i class="fas fa-draw-polygon"></i>
            <span class="filterTooltip">Graphic Design</span>
          </li>
          <li class="toolFilterIcon inactive" id="toolWeb">
            <i class="fas fa-code"></i>
            <span class="filterTooltip">Web Design</span>
          </li>
          <li class="toolFilterIcon inactive" id="toolStock">
            <i class="fas fa-images"></i>
            <span class="filterTooltip">Stock Assets</span>
          </li>
          <li class="toolFilterIcon inactive" id="toolMarketing">
            <i class="fas fa-chart-line"></i>
            <span class="filterTooltip">Marketing</span>
          </li>
          <li class="toolFilterIcon inactive" id="toolDnD">
            <i class="fab fa-d-and-d"></i>
            <span class="filterTooltip">Dungeons &amp; Dragons</span>
          </li>
          <li class="toolFilterIcon inactive" id="toolGames">
            <i class="fas fa-gamepad"></i>
            <span class="filterTooltip">Video Games</span>
          </li>
          <li class="toolFilterIcon inactive" id="toolDraw">
            <i class="fas fa-pencil-alt"></i>
            <span class="filterTooltip">Drawing</span>
          </li>
          <li class="toolFilterIcon inactive" id="toolFood">
            <i class="fas fa-utensils"></i>
            <span class="filterTooltip">Cooking</span>
          </li>
          <li>&nbsp;<!--this fixes a display issue with the tooltips--></li>
        </ul>
      </div>

  <!-- Template for entry
    <tr>
      <td><a href="#" target="blank">Title</a></td>
      <td>Description</td>
    </tr>
  -->

    <!-- Stock Assets -->
      <div class="resourceBox">
        <a id="resourceBox">
        <table class="resourcePanel tagDesign tagStock">
          <th colspan="2"><h3>Stock Assets</h3></th>
          <tr>
            <td><a href="https://www.pexels.com" target="blank">Pexels</a></td>
            <td>Free stock imagery with CC0 license</td>
          </tr>
          <tr>
            <td><a href="https://www.textures.com" target="blank">Textures.com</a></td>
            <td>Free textures, both man-made and natural</td>
          </tr>
          <tr>
            <td><a href="https://www.toptal.com/designers/subtlepatterns/" target="blank">Subtle Patterns</td>
            <td>Free repeatable patterns and textures</td>
          </tr>
        </table>

    <!-- Typographic Assets -->
        <table class="resourcePanel tagDesign tagWeb tagStock">
          <th colspan="2"><h3>Typographic Assets</h3></th>
          <tr>
            <td><a href="https://fonts.google.com/" target="blank">Google Fonts</a></td>
            <td>Free font library for embed or direct link</td>
          </tr>
          <tr>
            <td><a href="https://www.fontsquirrel.com/" target="blank">FontSquirrel</a></td>
            <td>woff generator, font identifier, and some free fonts</td>
          </tr>
          <tr>
            <td><a href="https://www.creativefabrica.com/" target="blank">Creative Fabrica</a></td>
            <td>A font marketplace for direct-to-designer sales and lots of freebies/ bundles</td>
          </tr>
          <tr>
            <td><a href="https://www.behance.net" target="blank">Behance</a></td>
            <td>A font marketplace for direct-to-designer sales and lots of freebies</td>
          </tr>
          <tr>
            <td><a href="https://fontlibrary.org/" target="blank">The Open Font Library</a></td>
            <td>Free fonts under creative commons</td>
          </tr>
          <tr>
            <td><a href="https://www.theleagueofmoveabletype.com/" target="blank">The League of Moveable Type</a></td>
            <td>A few free fonts with woff and otf files for easy online use</td>
          </tr>
        </table>

    <!--  Social Media Marketing -->
        <table class="resourcePanel tagWeb tagMarketing">
          <th colspan="2"><h3>Social Media Marketing</h3></th>
          <tr>
            <td><a href="https://hootsuite.com" target="blank">Hootsuite</a></td>
            <td>To make the tedium slightly less tedious</td>
          </tr>
          <tr>
            <td><a href="https://mailchimp.com" target="blank">Mailchimp</a></td>
            <td>Best-in-class email marketing</td>
          </tr>
        </table>

    <!--  SEO -->
        <table class="resourcePanel tagWeb tagMarketing">
          <th colspan="2"><h3>Search Engine Optimization (SEO)</h3></th>
          <tr>
            <td><a href="https://neilpatel.com/ubersuggest/" target="blank">UberSuggest</a></td>
            <td>My preferred resource for Keyword tracking and organic traffic monitoring</td>
          <tr>
            <td><a href="https://www.seoprofiler.com" target="blank">SEO Profiler</a></td>
            <td>A full suite for all things SEO/SEM. Not free</td>
          </tr>
          <tr>
            <td><a href="https://www.semrush.com/">SEM Rush</a></td>
            <td>A full suite for all things SEO/SEM. Also not free</td>
          </tr>
          <tr>
            <td><a href="https://ads.google.com/aw/keywordplanner" target="blank">Google Keyword Planner</a></td>
            <td>A great source for keyword research/ rankings</td>
          </tr>
          <tr>
            <td><a href="https://app.kwfinder.com">KWFinder</a></td>
            <td>Also a great source for keyword research/ rankings</td>
          </tr>
          <tr>
            <td><a href="https://moz.com/">Moz Keyword Explorer</a></td>
            <td>Yet another great source for keyword research/ rankings</td>
          </tr>
          <tr>
            <td><a href="https://www.wordtracker.com">Wordtracker</a></td>
            <td>Same as above, but I prefer it for organic search</td>
          </tr>
          <tr>
            <td><a href="https://answerthepublic.com" target="blank">Answer The Public</a></td>
            <td>For when you are in need of blog topics</td>
          </tr>
          <tr>
            <td><a href="https://www.spyfu.com" target="blank">Spyfu</a></td>
            <td>Because your competition has nice things and we want said niceness</td>
          <tr>
            <td><a href="https://semalt.com/">Semalt</a></td>
            <td>A free, automated overall problem checklist</td>
          </tr>
          <tr>
            <td><a href="https://trends.google.com/trends" target="blank">Google Trends</a></td>
            <td>See what the masses are into these days</td>
        </table>

    <!-- Graphic Designer Toolkit -->
        <table class="resourcePanel tagDesign">
          <th colspan="2"><h3>Graphic Designer Toolkit</h3></th>
          <tr>
            <td><a href="https://www.pinterest.com" target="blank">Pinterest</a></td>
            <td>Don't underestimate the power of other peoples' ideas</td>
          </tr>
          <tr>
            <td><a href="https://www.remove.bg/" target="blank">Remove BG</a></td>
            <td>For those that don't have Photoshop, because I'm not your personal snipping robot. Good luck</td>
          </tr>
        </table>

    <!-- Web Designer Toolkit -->
        <table class="resourcePanel tagWeb">
          <th colspan="2"><h3>Web Designer Toolkit</h3></th>
          <tr>
            <td><a href="https://atom.io/" target="blank">Atom Text Editor</a></td>
            <td>Best available full-feature text editor</td>
          </tr>
          <tr>
            <td><a href="https://defkey.com/atom-shortcuts" target="blank">Defkey Atom Shortcuts</a></td>
            <td>A solid cheatsheet for those that are just getting into Atom</td>
          </tr>
          <tr>
            <td><a href="https://www.github.com" target="blank">GitHub</a></td>
            <td>An indespensible tool for backing up and iterating on websites</td>
          </tr>
          <tr>
            <td><a href="http://jsfiddle.net/" target="blank">JSfiddle</a></td>
            <td>Test and share snippets in a quickerly fashion</td>
          </tr>
          <tr>
            <td><a href="http://validator.w3.org/" target="blank">W3 Validator</a></td>
            <td>Pass this test or don't publish your site. No exceptions</td>
          </tr>
          <tr>
            <td><a href="http://www.responsinator.com/" target="blank">Responsinator</a></td>
            <td>Preview your website on various screen sizes</td>
          </tr>
          <tr>
            <td><a href="https://www.sketch.com/" target="blank">Sketch</a></td>
            <td>A collaborative UI environment. Industry leader, but Mac only</td>
          </tr>
          <tr>
            <td><a href="https://www.figma.com/" target="blank">Figma</a></td>
            <td>Like Sketch, but not OS specific</td>
          </tr>
          <tr>
            <td><a href="https://www.invisionapp.com/" target="blank">InVision</a></td>
            <td>An online alternative to Sketch and Figma</td>
          </tr>
          <tr>
            <td><a href="https://www.invisionapp.com/" target="blank">Adobe Muse</a></td>
            <td>Adobe's answer to Sketch/ Figma. My least favorite option</td>
          </tr>
          <tr>
            <td><a href="https://zeplin.io" target="blank">Zeplin</a></td>
            <td>For sharin site designs between teams</td>
          <tr>
            <td><a href="https://readable.io/" target="blank">Readability Calculator</a></td>
            <td>Accessibility scoring for online content</td>
          </tr>
          <tr>
            <td><a href="https://no-css.com" target="blank">No CSS</a></td>
            <td>View underlying site structure sans CSS</td>
          </tr>
          <tr>
            <td><a href="http://exportkit.com/" target="blank">Export Kit</a></td>
            <td>Convert PSD mockup to source code</td>
          </tr>
          <tr>
            <td><a href="https://stackoverflow.com/" target="blank">StackOverflow</a></td>
            <td>A development troubleshooting community</td>
          </tr>
          <tr>
            <td><a href="http://bennettfeely.com/clippy/" target="blank">Clippy</a></td>
            <td>CSS clip-path generator</td>
          </tr>
          <tr>
            <td><a href="https://www.wirify.com/" target="blank">Wirify</a></td>
            <td>A sometimes useful bookmarklet that lets you view websites with blank divs</td>
          </tr>
          <tr>
            <td><a href="https://ezgif.com/" target="blank">EZ Gif</a></td>
            <td>For modifying gifs in a huge variety of ways</td>
          </tr>
        </table>

    <!-- Code Snippets & Repos -->
        <table class="resourcePanel tagWeb">
          <th colspan="2"><h3>Code Snippets &amp; Repos</h3></th>
          <tr>
            <td><a href="https://jquery.com/" target="blank">jQuery</a></td>
            <td>Because you're going to need it</td>
          </tr>
          <tr>
            <td><a href="https://sass-lang.com/" target="blank">Sass</a></td>
            <td>Because you're going to want it</td>
          </tr>
          <tr>
            <td><a href="https://reactjs.org/" target="blank">React Js</a></td>
            <td>Because the client is going to want it</td>
          </tr>
          <tr>
            <td><a href="http://codepen.com/" target="blank">Codepen</a></td>
            <td>It's like Pinterest for snippets</td>
          </tr>
          <tr>
            <td><a href="https://fontawesome.com/" target="blank">FontAwesome</a></td>
            <td>Open source Iconography for upload or direct link</td>
          </tr>
          <tr>
            <td><a href="https://saeedalipoor.github.io/icono/" target="blank">Icono</a></td>
            <td>A lightweight alternative to  FontAwesome</td>
          </tr>
          <tr>
            <td><a href="http://www.wifeo.com/social-networks-tab-generator.php" target="blank">Social Tab Generator</a></td>
            <td>Pure CSS Social Media icon mockups</td>
          </tr>
          <tr>
            <td><a href="http://csstooltip.com/" target="blank">CSS Tooltip</a></td>
            <td>Immediate output preview + Auto CSS generation</td>
          </tr>
          <tr>
            <td><a href="http://www.wifeo.com/code/" target="blank">Wifeo</a></td>
            <td>A Web Dev company with several UI design ideas</td>
          </tr>
          <tr>
            <td><a href="https://daneden.github.io/animate.css/" target="blank">Animate CSS</a></td>
            <td>Just-add-ater CSS animation for upload or direct link</td>
          </tr>
          <tr>
            <td><a href="https://www.toptal.com/designers/htmlarrows/" target="blank">ASCII Cheatsheet</a></td>
            <td>A cheat sheet with all the codes for all the things</td>
          </tr>
          <tr>
            <td><a href="http://uber.github.io/react-vis/examples/showcases/plots" target="blank">React-Vis</a></td>
            <td>HTML + CSS Charts and Graphs</td>
          </tr>
          <tr>
            <td><a href="https://freefrontend.com/" target="blank">Free Front End</td>
            <td>Very cool snippets for very cool web things</td>
          </tr>
          <tr>
            <td><a href="https://fullpage.js" target="blank">fullPage.js</a></td>
            <td>For full page scrolling sites, because this wheel doesn't need reinvention</td>
          </tr>
        </table>

    <!--  Web Dev Environments -->
        <table class="resourcePanel tagWeb">
          <th colspan="2"><h3>Web Dev Environments</h3></th>
          <tr>
            <td><a href="https://www.ruby-lang.org/en/" target="blank">Ruby</a></td>
            <td>The thing that most other things gets their things from</td>
          </tr>
          <tr>
            <td><a href="https://wordpress.com/create/" target="blank">WordPress</a></td>
            <td>I mean, it's WordPress...</td>
          </tr>
          <tr>
            <td><a href="https://statamic.com/" target="blank">Statamic</a></td>
            <td>An all-in-one Laravel platform with a flat pricing structure and 10/10 support</td>
          </tr>
          <tr>
            <td><a href="https://jekyllrb.com/" target="blank">Jekyll</a></td>
            <td>Ruby dev environment, GitHub default. A personal favorite</td>
          </tr>
          <tr>
            <td><a href="https://middlemanapp.com/" target="blank">Middleman</a></td>
            <td>Static site gen that bundles without Ruby. Sass/coffeeScript/Haml baked in</td>
          </tr>
          <tr>
            <td><a href="https://www.gatsbyjs.org/" target="blank">Gatsby</a></td>
            <td>A quick-start React framework</td>
          </tr>
          <tr>
            <td><a href="http://gohugo.io/" target="blank">Hugo</a></td>
            <td>Not unlike Jekyll, but without plugins</td>
          </tr>
          <tr>
            <td><a href="https://forestry.io/" target="blank">Forestry</a></td>
            <td>A static CMS for Jekyll and Hugo</td>
          </tr>
        </table>

    <!-- Color Tools -->
        <table class="resourcePanel tagDesign tagWeb tagDraw">
          <th colspan="2"><h3>Color Tools</h3></th>
          <tr>
            <td><a href="http://www.colourlovers.com/palettes" target="blank">Colourlovers</td>
            <td>A library of user-generated color palettes</td>
          </tr>
          <tr>
            <td><a href="http://www.convertacolor.com" target="blank">Convert-A-Color</a></td>
            <td>Punch in any color code, get all the outputs</td>
          </tr>
          <tr>
            <td><a href="https://chrome.google.com/webstore/detail/eye-dropper/hmdcmlfkchdmnmnmheododdhjedfccka?hl=en" target="blank">Chrome Eyedropper Tool</a></td>
            <td>A color picker plugin with multiple coded outputs</td>
          </tr>
          <tr>
            <td><a href="https://css-tricks.com/examples/HSLaExplorer/" target="blank">HSLA Explorer</a></td>
            <td>See all the shades of all the colors (in HSLA)</td>
          </tr>
          <tr>
            <td><a href="http://chir.ag/projects/name-that-color" target="blank">Name That Color</a></td>
            <td>Punch in a hex color, get the CSS name. Fun stuff</td>
          </tr>
        </table>

    <!-- Learning Resources -->
        <table class="resourcePanel tagDesign tagWeb">
          <th colspan="2"><h3>Learning Resources</h3></th>
          <tr>
            <td><a href="https://www.codecademy.com/" target="blank">CodeAcademy</a></td>
            <td>Description</td>
          </tr>
          <tr>
            <td><a href="https://guides.github.com/pdfs/markdown-cheatsheet-online.pdf" target="blank">Markdown Cheatsheet</a></td>
            <td>A quick reference guide to Markdown syntax</td>
          </tr>
          <tr>
            <td><a href="https://www.skillshare.com/" target="blank">Skillshare</a></td>
            <td>A place you can go to purchase lessons from skilled people</td>
          </tr>
        </table>

    <!-- DM Tools -->
        <table class="resourcePanel tagDnD">
          <th colspan="2"><h3>DM Tools</h3></th>
          <tr>
            <td><a href="http://www.dndbeyond.com/" target="blank">D&amp;D Beyond</a></td>
            <td>The best digital player sheets possible, though some microtransactions/ manual entry will be needed for most options</td>
          </tr>
          <tr>
            <td><a href="http://gdnd.wikidot.com/" target="blank">Giger 5e</a></td>
            <td>Quick rererence Wiki for all of the rules--including extensions</td>
          </tr>
          <tr>
            <td><a href="http://tools.goblinist.com/5enc/" target="blank">Goblinist</a></td>
            <td>Random Encounter Generator</td>
          </tr>
          <tr>
            <td><a href="http://www.dmsguild.com" target="blank">DM's Guild</a></td>
            <td>A marketplace full of homebrew content and campaigns</td>
          </tr>
          <tr>
            <td><a href="http://www.fantasynamegenerators.com/" target="blank">Fantasy Name Generator</a></td>
            <td>A great generator for ideation that generally follows 5e standards</td>
          </tr>
        </table>

    <!-- Map Making -->
        <table class="resourcePanel tagDnD">
          <th colspan="2"><h3>Map Making</h3></th>
          <tr>
            <td><a href="http://www.fantasticmaps.com/2013/03/how-to-design-a-town/" target="blank">How To: Town Design</a></td>
            <td>A resource worth reading over before building up a town or community</td>
          </tr>
          <tr>
            <td><a href="https://azgaar.github.io/Fantasy-Map-Generator/" target="blank">Azgaar's Map Generator</a></td>
            <td>Generates a world map with elevation, factions, states, etc. I like to start here</td>
          </tr>
          <tr>
            <td><a href="https://inkarnate.com" target="blank">Inkarnate</a></td>
            <td>Great for drawing the maps created in Azgaar's for the players</td>
          </tr>
          <tr>
            <td><a href="http://www.hexographer.com/" target="blank">Hexographer</a></td>
            <td>A world map generator using a hex grid, better for travel stuff</td>
          </tr>
          <tr>
            <td><a href="http://pyromancers.com/" target="blank">Pyromancer's Dungeon Painter</a></td>
            <td>Pretty much the only good options for making battle maps</td>
          </tr>
          <tr>
            <td><a href="https://watabou.itch.io/" target="blank">Procgen Utilities</a></td>
            <td>Auto-generated towns, mansions, and tarot cards that are great for ideation</td>
          </tr>
        </table>

    <!-- 3D Printing Tools -->
        <table class="resourcePanel tagDnD">
          <th colspan="2"><h3>3D Printed Gaming</h3></th>
          <tr>
            <td><a href="http://www.desktophero3d.com" target="blank">Desktop Hero 3D</a></td>
            <td>Open-source character mini creator/model generator</td>
          </tr>
          <tr>
            <td><a href="https://www.shapeways.com/designer/mz4250/creations" target="blank">The DM Workshop</a></td>
            <td>This guy made hundreds of minis and is giving away all of the files for free</td>
          </tr>
          <tr>
            <td><a href="https://www.thingiverse.com/devonjones/collections/page:1" target="blank">OpenForge</a></td>
            <td>These guys made a ton of battle map resources, also free to download and print</td>
          </tr>
        </table>

    <!-- Cooking -->
        <table class="resourcePanel tagFood">
          <th colspan="2"><h3>Cooking &amp; Recipe Resources</h3></th>
          <tr>
            <td><a href="http://www.seriouseats.com" target="blank">Serious Eats</a></td>
            <td>Awesome scientific look at cooking with emphasis on process</td>
          </tr>
          <tr>
            <td><a href="https://www.bonappetit.com/" target="blank">Bon Appetit</a></td>
            <td>A laid-back approach to classical dishes</td>
          </tr>
          <tr>
            <td><a href="https://altonbrown.com/" target="blank">Alton Brown's Site</a></td>
            <td>It has Alton Brown on it&mdash;therefore it's a no-brainer</td>
          </tr>
        </table>

    <!-- Gaming -->
        <table class="resourcePanel tagGames">
          <th colspan="2"><h3>Gaming Resources</h3></th>
          <tr>
            <td><a href="https://discordapp.com/" target="blank">Discord</a></td>
            <td>The best gaming VoIP + forum program</td>
          </tr>
          <tr>
            <td><a href="#" target="blank">Title</a></td>
            <td>Description</td>
          </tr>
          <tr>
            <td><a href="#" target="blank">Title</a></td>
            <td>Description</td>
          </tr>
        </table>

    <!-- Game Marketplaces -->
        <table class="resourcePanel tagGames">
          <th colspan="2"><h3>PC Marketplaces</h3></th>
          <tr>
            <td><a href="https://www.steam.com/" target="blank">Steam</a></td>
            <td>Because Steam</td>
          </tr>
          <tr>
            <td><a href="https://www.gog.com/" target="blank">GOG</a></td>
            <td>Steam but DRM-free</td>
          </tr>
          <tr>
            <td><a href="https://www.humblebundle.com/" target="blank">Humble</a></td>
            <td>Lots of good games for cheap</td>
          </tr>
          <tr>
            <td><a href="https://www.fanatical.com/" target="blank">Fanatical</a></td>
            <td>Also lots of good games for cheap. Yay bundles</td>
          </tr>
          <tr>
            <td><a href="https://epicgames.com/store" target="blank">Epic Store</a></td>
            <td>As much as I dislike them, the freebies are nice</td>
          </tr>
        </table>

    <!-- LoL Stuff -->
        <table class="resourcePanel tagGames">
          <th colspan="2"><h3>League of Legends Resources</h3></th>
          <tr>
            <td><a href="https://leagueoflegends.fandom.com/wiki/League_of_Legends_Wiki" target="blank">LoL Wiki</a></td>
            <td>For learning all the things</td>
          </tr>
          <tr>
            <td><a href="https://champion.gg/" target="blank">Champion.gg</a></td>
            <td>For checking optimal builds, popularity, and matchups</td>
          </tr>
          <tr>
            <td><a href="https://probuilds.net/" target="blank">ProBuilds</a></td>
            <td>Not as in-depth as champion.gg, but can also see up-and-coming things being attempted in the wild</td>
          </tr>
          <tr>
            <td><a href="https://runeforge.gg/" target="blank">Runeforge</a></td>
            <td>An excellent resource for thinking over custom rune sets and seeing meta builds</td>
          </tr>
          <tr>
            <td><a href="https://na.leagueoflegends.com/en/news/" target="blank">LoL News Page</a></td>
            <td>Because you plebs need to READ THE FREAKING PATCH NOTES!!1!</td>
          </tr>
          <tr>
            <td><a href="https://mobalytics.gg/" target="blank">Mobalytics</a></td>
            <td>A popular self-evaluation tool that I haven't honestly tried</td>
          </tr>
          <tr>
            <td><a href="https://murderbridge.com" target="blank">Murder Bridge</a></td>
            <td>champion.gg for ARAM, but... Shouldn't you be killing someone?</td>
          </tr>
          <tr>
            <td><a href="https://imgur.com/a/S11Jhyn" target="blank">TFT Cheatsheet</a></td>
            <td>Quick guide for Teamfight Tactics.</td>
          </tr>
        </table>

    <!-- Drawing -->
        <table class="resourcePanel tagDraw">
          <th colspan="2"><h3>Drawing &amp; Art Resources</h3></th>
          <tr>
            <td><a href="https://line-of-action.com" target="blank">Line of Action</a></td>
            <td>Practice body references for figures and animals, including expressions and hands</td>
          </tr>
          <tr>
            <td><a href="http://reference.sketchdaily.net/en/" target="blank">SketchDaily References</a></td>
            <td>Similar to Line of Action, but with more control over results and emphasis on clothing/ props</td>
          </tr>
        </table>

      </div>
    </div>
  </div>

{% include partials/footer.html %}

</body>
