<!DOCTYPE html>

<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="{{ site.lang }}">
<!--<![endif]-->

<head>
  {% include common/meta.html %}
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" type="text/css">
  <link href='{{ site.baseurl }}/css/home.css' rel="stylesheet" type="text/css">
  {% include common/libraries.html %}
</head>

<body>
  <div id="wordmarkMiniBox">
    <div id="wordmarkMini">
      <span>CB</span>
    </div>
  </div>

  <nav id="nav">
    <span id="wordmark"><a href="/">Chris Barfuss</a></span>&nbsp; | &nbsp;
    TOOLKIT
    <br />
  </nav>

<!--------------------------- Start Body ---------------------------------------->

<div class="contentWrapper">
  <div class="contentFrame">
<!-- Stock Assets -->
  <div class="resourceBox">
    <a id="resourceBox">
    <table class="resourcePanel">
      <th colspan="2"><h3>Stock Assets</h3></th>
      <tr>
        <td><a href="https://www.pexels.com" target="blank">Pexels</a></td>
        <td>Free stock imagery with CC0 license</td>
      </tr>
      <tr>
        <td><a href="https://www.textures.com" target="blank">Textures.com</a></td>
        <td>Free textures, both man-made and natural</td>
      </tr>
      <tr>
        <td><a href="https://www.toptal.com/designers/subtlepatterns/" target="blank">Subtle Patterns</td>
        <td>Free repeatable patterns and textures</td>
      </tr>
    </table>

<!-- Typographic Assets -->
    <table class="resourcePanel">
      <th colspan="2"><h3>Typographic Assets</h3></th>
      <tr>
        <td><a href="https://fonts.google.com/" target="blank">Google Fonts</a></td>
        <td>Free font library for embed or direct link</td>
      </tr>
      <tr>
        <td><a href="https://www.fontsquirrel.com/" target="blank">FontSquirrel</a></td>
        <td>woff generator, font identifier, and some free fonts</td>
      </tr>
      <tr>
        <td><a href="https://www.creativefabrica.com/" target="blank">Creative Fabrica</a></td>
        <td>A font marketplace for direct-to-designer sales and lots of freebies/ bundles</td>
      </tr>
      <tr>
        <td><a href="https://www.behance.net" target="blank">Behance</a></td>
        <td>A font marketplace for direct-to-designer sales and lots of freebies</td>
      </tr>
      <tr>
        <td><a href="https://fontlibrary.org/" target="blank">The Open Font Library</a></td>
        <td>Free fonts under creative commons</td>
      </tr>
      <tr>
        <td><a href="https://www.theleagueofmoveabletype.com/" target="blank">The League of Moveable Type</a></td>
        <td>A few free fonts with woff and otf files for easy online use</td>
      </tr>
    </table>

<!--  Social Media Marketing -->
    <table class="resourcePanel">
      <th colspan="2"><h3>Social Media Marketing</h3></th>
      <tr>
        <td>Hootsuite</td>
        <td>Description</td>
      </tr>
      <tr>
        <td>Mailchimp</td>
        <td>Description</td>
      </tr>
      <tr>
        <td>Title</td>
        <td>Description</td>
      </tr>
    </table>

<!-- Graphic Designer Toolkit -->
    <table class="resourcePanel">
      <th colspan="2"><h3>Graphic Designer Toolkit</h3></th>
      <tr>
        <td>Title</td>
        <td>Description</td>
      </tr>
    </table>

<!-- Web Designer Toolkit -->
    <table class="resourcePanel">
      <th colspan="2"><h3>Web Designer Toolkit</h3></th>
      <tr>
        <td><a href="https://atom.io/" target="blank">Atom Text Editor</a></td>
        <td>Best available full-feature text editor</td>
      </tr>
      <tr>
        <td><a href="http://jsfiddle.net/" target="blank">JSfiddle</a></td>
        <td>Test and share snippets in a quickerly fashion</td>
      </tr>
      <tr>
        <td><a href="http://www.responsinator.com/" target="blank">Responsinator</a></td>
        <td>Preview your website on various screen sizes</td>
      </tr>
      <tr>
        <td><a href="https://www.invisionapp.com/" target="blank">InVision</a></td>
        <td>A collaborative UI environment</td>
      </tr>
      <tr>
        <td><a href="https://readable.io/" target="blank">Readability Calculator</a></td>
        <td>Accessibility scoring for online content</td>
      </tr>
      <tr>
        <td><a href="https://no-css.com" target="blank">No CSS</a></td>
        <td>View underlying site structure sans CSS</td>
      </tr>
      <tr>
        <td><a href="http://exportkit.com/" target="blank">Export Kit</a></td>
        <td>Convert PSD mockup to source code</td>
      </tr>
      <tr>
        <td><a href="https://stackoverflow.com/" target="blank">StackOverflow</a></td>
        <td>A development troubleshooting community</td>
      </tr>
      <tr>
        <td><a href="http://bennettfeely.com/clippy/" target="blank">Clippy</a></td>
        <td>CSS clip-path generator</td>
      </tr>
    </table>

<!-- Code Snippets & Repos -->
    <table class="resourcePanel">
      <th colspan="2"><h3>Code Snippets &amp; Repos</h3></th>
      <tr>
        <td><a href="https://fontawesome.com/" target="blank">FontAwesome</a></td>
        <td>Open source Iconography for upload or direct link</td>
      </tr>
      <tr>
        <td><a href="https://saeedalipoor.github.io/icono/" target="blank">Icono</a></td>
        <td>A lightweight alternative to  FontAwesome</td>
      </tr>
      <tr>
        <td><a href="http://www.wifeo.com/social-networks-tab-generator.php" target="blank">Social Tab Generator</a></td>
        <td>Pure CSS Social Media icon mockups</td>
      </tr>
      <tr>
        <td><a href="http://csstooltip.com/" target="blank">CSS Tooltip</a></td>
        <td>Immediate output preview + Auto CSS generation</td>
      </tr>
      <tr>
        <td><a href="http://www.wifeo.com/code/" target="blank">Wifeo</a></td>
        <td>A Web Dev company with several UI design ideas</td>
      </tr>
      <tr>
        <td><a href="https://daneden.github.io/animate.css/" target="blank">Animate CSS</a></td>
        <td>Just-add-ater CSS animation for upload or direct link</td>
      </tr>
      <tr>
        <td><a href="https://www.toptal.com/designers/htmlarrows/" target="blank">ASCII Cheatsheet</a></td>
        <td>A cheat sheet with all the codes for all the things</td>
      </tr>
      <tr>
        <td><a href="http://uber.github.io/react-vis/examples/showcases/plots" target="blank">React-Vis</a></td>
        <td>HTML + CSS Charts and Graphs</td>
      </tr>
      <tr>
        <td><a href="https://freefrontend.com/" target="blank">Free Front End</td>
        <td>Very cool snippets for very cool web things.</td>
      </tr>
      <tr>
        <td>Title</td>
        <td>Description</td>
      </tr>
    </table>

<!--  Web Dev Environments -->
    <table class="resourcePanel">
      <th colspan="2"><h3>Web Dev Environments</h3></th>
      <tr>
        <td><a href="https://www.ruby-lang.org/en/" target="blank">Ruby</a></td>
        <td>Description</td>
      </tr>
      <tr>
        <td><a href="https://wordpress.com/create/?utm_source=bing&utm_campaign=Bing_WPcom_Search_Brand_Desktop_US_en&utm_medium=cpc&keyword=wordpress&creative=76828416813995&campaignid=282011443&adgroupid=1229254087061828&matchtype=e&device=c&network=o&targetid=kwd-76828449486823:loc-190&locationid=103318&msclkid=6297ca5d5d2e1949e467911b11539f3a" target="blank">WordPress</a></td>
        <td>Description</td>
      </tr>
      <tr>
        <td><a href="https://jekyllrb.com/" target="blank">Jekyll</a></td>
        <td>Description</td>
      </tr>
      <tr>
        <td><a href="https://middlemanapp.com/" target="blank">Middleman</a></td>
        <td>Description</td>
      </tr>
      <tr>
        <td><a href="https://www.gatsbyjs.org/" target="blank">Gatsby</a></td>
        <td>Description</td>
      </tr>
      <tr>
        <td><a href="http://gohugo.io/" target="blank">Hugo</a></td>
        <td>Description</td>
      </tr>
      <tr>
        <td><a href="https://forestry.io/" target="blank">Forestry</a></td>
        <td>A static CMS for Jekyll and Hugo</td>
      </tr>
    </table>

<!-- Color Tools -->
    <table class="resourcePanel">
      <th colspan="2"><h3>Color Tools</h3></th>
      <tr>
        <td><a href="http://www.colourlovers.com/palettes" target="blank">Colourlovers</td>
        <td>A library of user-generated color palettes</td>
      </tr>
      <tr>
        <td><a href="http://www.convertacolor.com" target="blank">Convert-A-Color</a></td>
        <td>Punch in any color code, get all the outputs</td>
      </tr>
      <tr>
        <td><a href="https://chrome.google.com/webstore/detail/eye-dropper/hmdcmlfkchdmnmnmheododdhjedfccka?hl=en" target="blank">Chrome Eyedropper Tool</a></td>
        <td>A color picker plugin with multiple coded outputs</td>
      </tr>
      <tr>
        <td><a href="https://css-tricks.com/examples/HSLaExplorer/" target="blank">HSLA Explorer</a></td>
        <td>See all the shades of all the colors (in HSLA)</td>
      </tr>
      <tr>
        <td><a href="http://chir.ag/projects/name-that-color" target="blank">Name That Color</a></td>
        <td>Punch in a hex color, get the CSS name. Fun stuff.</td>
      </tr>
      <tr>
        <td>Title</td>
        <td>Description</td>
      </tr>
    </table>

<!-- Learning Resources -->
    <table class="resourcePanel">
      <th colspan="2"><h3>Learning Resources</h3></th>
      <tr>
        <td><a href="https://www.codecademy.com/" target="blank">CodeAcademy</a></td>
        <td>Description</td>
      </tr>
      <tr>
        <td><a href="https://guides.github.com/pdfs/markdown-cheatsheet-online.pdf" target="blank">Markdown Cheatsheet</a></td>
        <td>A quick reference guide to Markdown syntax</td>
      </tr>
      <tr>
        <td><a href="https://www.skillshare.com/" target="blank">Skillshare</a></td>
        <td>A place you can go to purchase lessons from skilled people</td>
      </tr>
    </table>

<!-- D&D Stuff -->
    <table class="resourcePanel">
      <th colspan="2"><h3>Dungeons &amp; Dragons</h3></th>
      <tr>

        <td><a href="http://www.dndbeyond.com" target="blank">D&amp;D Beyond</a></td>
        <td>A character creator and virtual character sheet</td>
      </tr>
      <tr>
        <td><a href="http://tools.goblinist.com/5enc/" target="blank">Goblinist</a></td>
        <td>Random Encounter Generator</td>
      </tr>
      <tr>
        <td><a href="http://www.hexographer.com/" target="blank">Hexographer</a></td>
        <td>A world map generator using a hex grid</td>
      </tr>
      <tr>
        <td><a href="http://www.desktophero3d.com" target="blank">Desktop Hero 3D</a></td>
        <td>Open-source character mini creator/model generator</td>
      </tr>
    </table>

<!-- Cooking -->
    <table class="resourcePanel">
      <th colspan="2"><h3>Cooking &amp; Recipe Resources</h3></th>
      <tr>
        <td><a href="http://www.seriouseats.com" target="blank">Serious Eats</a></td>
        <td>Awesome scientific look at cooking with emphasis on process</td>
      </tr>
      <tr>
        <td><a href="https://www.bonappetit.com/" target="blank">Bon Appetit</a></td>
        <td>A laid-back approach to classical dishes</td>
      </tr>
      <tr>
        <td><a href="https://altonbrown.com/" target="blank">Alton Brown's Site</a></td>
        <td>It has Alton Brown on it&mdash;therefore it's a no-brainer</td>
      </tr>
    </table>

<!-- Drawing -->
    <table class="resourcePanel">
      <th colspan="2"><h3>Drawing &amp; Art Resources</h3></th>
      <tr>
        <td><a href="https://line-of-action.com" target="blank">Line of Action</a></td>
        <td>Practice body references for figures and animals, including expressions and hands</td>
      </tr>
      <tr>
        <td><a href="http://reference.sketchdaily.net/en/" target="blank">SketchDaily References</a></td>
        <td>Similar to Line of Action, but with more control over results and emphasis on clothing/ props</td>
      </tr>
    </table>

  </div>
</div>
</div>

<!------------------------- Section 4 ----------------------------------------->
  <a name="section4"></a>
  <div id="section4" class="par" data-name="social" align="center">
<!--    <div class="footerLeft"> -->
      <h2>Let's Chat.</h2>
      <p><a href="mailto:chrisbarfuss@live.com">chrisbarfuss@live.com</a>&nbsp; | &nbsp;
      <a href="tel:12083125083">208.312.5083</a></p>
<!--    </div> -->

<!--    <div class="footerRight"> -->
      <div class="socialIcons" align="center">
        <a class="icon" href="https://www.facebook.com/chrisbarfuss22"><img src="/assets/images/ui/social/long_shadow/Facebook.png"></a>
        <a class="icon" href="https://www.facebook.com/chrisbarfuss22"><!--<img src="/assets/images/ui/social/round_shade/facebook-Icon.png"></a> -->
        <a class="icon" href="https://twitter.com/_thatdesignguy"><!--<img src="/assets/images/ui/social/round_shade/Twitter-Icon.png"></a> -->
        <a class="icon" href="https://twitter.com/_thatdesignguy"><img src="/assets/images/ui/social/long_shadow/Twitter.png"></a>
        <a class="icon" href="https://www.linkedin.com/in/chris-barfuss-14541267/"><!--<img src="/assets/images/ui/social/round_shade/Linkedin.png"></a> -->
        <a class="icon" href="https://www.linkedin.com/in/chris-barfuss-14541267/"><img src="/assets/images/ui/social/long_shadow/Linkedin.png"></a>
        <span>
          <a class="icon" href="https://www.instagram.com/_thatdesignguy/"><!--<img src="/assets/images/ui/social/round_shade/Instagram-Icon.png"></a> -->
          <a class="icon" href="https://www.instagram.com/_thatdesignguy/"><img src="/assets/images/ui/social/long_shadow/Instagram.png"></a>
          <a class="icon" href="https://github.com/chrisb-design"><!--<img src="/assets/images/ui/social/round_shade/Github-Icon.png"></a> -->
          <a class="icon" href="https://github.com/chrisb-design"><img src="/assets/images/ui/social/long_shadow/Github.png"></a>
        </span>
      </div>
<!--    </div> -->
  </div>

  <div id="copyrightBar">
    <p>Copyright &copy; 2018, Chris Barfuss. All Rights Reserved.</p>
  </div>
<!----------------------- End Section 4 --------------------------------------->
</body>
