<!DOCTYPE html>

<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="{{ site.lang }}">
<!--<![endif]-->

<head>
  {% include common/meta.html %}
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" type="text/css">
  <link href='{{ site.baseurl }}/css/home.css' rel="stylesheet" type="text/css">
  {% include common/libraries.html %}
</head>

<body>
    <nav id="nav">
      <span id="wordmark"><a href="/">Chris Barfuss</a></span>
      <ul>
        <a href="/work"><li>Work</li></a>
        <a href="/blog"><li>Blog</li></a>
        <a class="bottomScroll"><li>Contact</li></a>
      </ul>
    </nav>

    <div id="wordmarkMiniBox">
      <div id="wordmarkMini">
        <span>CB</span>
      </div>
    </div>

<!--------------------------- Start Body ---------------------------------------->
<!--
<div class="headWrapper">
  <h1>Work</h1>
  <img src="/assets/images/photos/wireframes.jpg">
</div>
-->

<div class="contentWrapper">
  <div id="gallery">
    <div id="galleryWrapper">

      <figure class="galleryCard">
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample74.jpg" alt="sample74"/>
        <figcaption>
          <h4>Jason Response</h4>
          <p>Just makes people try to do everything at once.</p>
        </figcaption>
        <a href="#"></a>
      </figure>

      <figure class="galleryCard">
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample13.jpg" alt="sample13"/>
        <figcaption>
          <h4>Ruby Von Rails</h4>
          <p>To the machines and go play outside.</p>
        </figcaption>
        <a href="#"></a>
      </figure>

      <figure class="galleryCard">
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample13.jpg" alt="sample13"/>
        <figcaption>
          <h4>Ruby Von Rails</h4>
          <p>To the machines and go play outside.</p>
        </figcaption>
        <a href="#"></a>
      </figure>

      <figure class="galleryCard">
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample13.jpg" alt="sample13"/>
        <figcaption>
          <h4>Ruby Von Rails</h4>
          <p>To the machines and go play outside.</p>
        </figcaption>
        <a href="#"></a>
      </figure>

      <figure class="galleryCard">
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample13.jpg" alt="sample13"/>
        <figcaption>
          <h4>Ruby Von Rails</h4>
          <p>To the machines and go play outside.</p>
        </figcaption>
        <a href="#"></a>
      </figure>

      <figure class="galleryCard">
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample13.jpg" alt="sample13"/>
        <figcaption>
          <h4>Ruby Von Rails</h4>
          <p>To the machines and go play outside.</p>
        </figcaption>
        <a href="#"></a>
      </figure>
    </div>
  </div>
</div>

<!------------------------- Section 4 ----------------------------------------->
  <a name="section4"></a>
  <div id="section4" class="par" data-name="social" align="center">
<!--    <div class="footerLeft"> -->
      <h2>Let's Chat.</h2>
      <p><a href="mailto:chrisbarfuss@live.com">chrisbarfuss@live.com</a>&nbsp; | &nbsp;
      <a href="tel:12083125083">208.312.5083</a></p>
<!--    </div> -->

<!--    <div class="footerRight"> -->
      <div class="socialIcons" align="center">
        <a class="icon" href="https://www.facebook.com/chrisbarfuss22"><img src="/assets/images/ui/social/long_shadow/Facebook.png"></a>
        <a class="icon" href="https://www.facebook.com/chrisbarfuss22"><!--<img src="/assets/images/ui/social/round_shade/facebook-Icon.png"></a> -->
        <a class="icon" href="https://twitter.com/_thatdesignguy"><!--<img src="/assets/images/ui/social/round_shade/Twitter-Icon.png"></a> -->
        <a class="icon" href="https://twitter.com/_thatdesignguy"><img src="/assets/images/ui/social/long_shadow/Twitter.png"></a>
        <a class="icon" href="https://www.linkedin.com/in/chris-barfuss-14541267/"><!--<img src="/assets/images/ui/social/round_shade/Linkedin.png"></a> -->
        <a class="icon" href="https://www.linkedin.com/in/chris-barfuss-14541267/"><img src="/assets/images/ui/social/long_shadow/Linkedin.png"></a>
        <span>
          <a class="icon" href="https://www.instagram.com/_thatdesignguy/"><!--<img src="/assets/images/ui/social/round_shade/Instagram-Icon.png"></a> -->
          <a class="icon" href="https://www.instagram.com/_thatdesignguy/"><img src="/assets/images/ui/social/long_shadow/Instagram.png"></a>
          <a class="icon" href="https://github.com/chrisb-design"><!--<img src="/assets/images/ui/social/round_shade/Github-Icon.png"></a> -->
          <a class="icon" href="https://github.com/chrisb-design"><img src="/assets/images/ui/social/long_shadow/Github.png"></a>
        </span>
      </div>
<!--    </div> -->
  </div>

  <div id="copyrightBar">
    <p>Copyright &copy; 2018, Chris Barfuss. All Rights Reserved.</p>
  </div>
<!----------------------- End Section 4 --------------------------------------->
</body>
